extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Chi Siamo

// Page meta-description
block append metatags 
	meta(name='description', content='L’Istituto Biochimico italiano, Ibi, fondato nel 1918 dal Prof. Giovanni Lorenzini, vanta una lunga tradizione scientifica che, unita alle nuove tecnologie applicate e ad un’attenta cura nella produzione, fanno della Ibi sinonimo di affidabilità e garanzia di alta qualità.')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.archivio-news-header
		.container
			.main-caption
				h1 Archivio news
	section.content.archivio-news-content
		.container
			.row
				.col-md-8
					h2
						| Archivio news
					.archivio-news.media
						.media-left
							a(href='#')
								img.media-object(src='http://placehold.it/150x150', alt='...')
						.media-body
							h4.media-heading Titolo news
							span.date 12/07/2015
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci consequatur vero accusantium facilis numquam dolorem, consequuntur repellendus laboriosam corporis nemo velit doloremque animi quisquam, consectetur nisi voluptatem totam ab?							
							a(href="") Leggi tutto
					.archivio-news.media
						.media-left
							a(href='#')
								img.media-object(src='http://placehold.it/150x150', alt='...')
						.media-body
							h4.media-heading Titolo news
							span.date 12/07/2015
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci consequatur vero accusantium facilis numquam dolorem, consequuntur repellendus laboriosam corporis nemo velit doloremque animi quisquam, consectetur nisi voluptatem totam ab?
							a(href="") Leggi tutto
					.archivio-news.media
						.media-left
							a(href='#')
								img.media-object(src='http://placehold.it/150x150', alt='...')
						.media-body
							h4.media-heading Titolo news
							span.date 12/07/2015
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci consequatur vero accusantium facilis numquam dolorem, consequuntur repellendus laboriosam corporis nemo velit doloremque animi quisquam, consectetur nisi voluptatem totam ab?
							a(href="") Leggi tutto
					.archivio-news.media
						.media-left
							a(href='#')
								img.media-object(src='http://placehold.it/150x150', alt='...')
						.media-body
							h4.media-heading Titolo news
							span.date 12/07/2015
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci consequatur vero accusantium facilis numquam dolorem, consequuntur repellendus laboriosam corporis nemo velit doloremque animi quisquam, consectetur nisi voluptatem totam ab?
							a(href="") Leggi tutto
					.archivio-news.media
						.media-left
							a(href='#')
								img.media-object(src='http://placehold.it/150x150', alt='...')
						.media-body
							h4.media-heading Titolo news
							span.date 12/07/2015
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci consequatur vero accusantium facilis numquam dolorem, consequuntur repellendus laboriosam corporis nemo velit doloremque animi quisquam, consectetur nisi voluptatem totam ab?
							a(href="") Leggi tutto
					.archivio-news.media
						.media-left
							a(href='#')
								img.media-object(src='http://placehold.it/150x150', alt='...')
						.media-body
							h4.media-heading Titolo news
							span.date 12/07/2015
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci consequatur vero accusantium facilis numquam dolorem, consequuntur repellendus laboriosam corporis nemo velit doloremque animi quisquam, consectetur nisi voluptatem totam ab?
							a(href="") Leggi tutto
					.archivio-news.media
						.media-left
							a(href='#')
								img.media-object(src='http://placehold.it/150x150', alt='...')
						.media-body
							h4.media-heading Titolo news
							span.date 12/07/2015
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci consequatur vero accusantium facilis numquam dolorem, consequuntur repellendus laboriosam corporis nemo velit doloremque animi quisquam, consectetur nisi voluptatem totam ab?
							a(href="") Leggi tutto

				include blocks/sidebar
	// Including footer
	include blocks/footer