extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Per il benessere del paziente

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.benessere-paziente
		.container
			.main-caption
				h1 Per il benessere del paziente
	section.content.benessere-content
		.container
			.row
				.col-sm-8
					h2
						| Per il benessere del paziente
					h3
						| Benvenuti nell’area dedicata ai pazienti e a chi ricerca informazioni utili relative a:
					.tabs.benessere-paziente-tabs
						// Nav tabs
						ul.nav.nav-tabs(role='tablist')
							li.active(role='presentation')
								a(href='#fegato-grasso', aria-controls='fegato-grasso', role='tab', data-toggle='tab') Fegato grasso o Steatosi epatica
							li(role='presentation')
								a(href='#meteorismo', aria-controls='meteorismo', role='tab', data-toggle='tab') Meteorismo e Aerofagia			
						// Tab panes
						.tab-content
							#fegato-grasso.tab-pane.active(role='tabpanel')
								#accordion.panel-group(role='tablist', aria-multiselectable='true')
									.panel.panel-default
										a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
											#headingOne.panel-heading(role='tab')
												h4.panel-title
													| Steatosi, steatoepatite alcolica e non alcolica
												.plus-minus.minus
										#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
											.panel-body
												p
													|La steatosi epatica non alcolica o NAFLD (Non Alcoholic Fatty Liver Disease) è la più comune causa di malattia cronica del fegato nei paesi occidentali. La malattia è caratterizzata dall’accumulo di grasso nel fegato (NAFL), in particolare di trigliceridi all’interno delle cellule (epatociti), e può evolvere in steatoepatite o NASH (Non Alcoholic Steato-Hepatitis) e si caratterizza per la presenza, oltre ai depositi di grasso, per una reazione necro-infiammatoria.													
												p
													|Quando invece la steatoepatite è correlata principalmente ad una assunzione elevata di alcol viene definita ASH (Alcoholic Steato-Hepatitis).											
									.panel.panel-default
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
											#headingTwo.panel-heading(role='tab')
												h4.panel-title
													| Epidemiologia, cause e storia naturale
												.plus-minus
										#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
											.panel-body
												p
													|La Steatosi epatica non alcolica è presente nel 10-25% della popolazione generale, quindi in media 1 italiano su 4 ne soffre; tali percentuali aumentano in modo significativo nei pazienti obesi, fino a valori del 50-90%.
												p
													|L’entità di questo problema non è da sottovalutare, non solo perché la percentuale di obesi nel nostro paese è significativa (18%) ma soprattutto perché si osserva da anni un trend di progressivo aumento (vedi confronto tra anni ’90 e primi anni del 2000 con un aumento degli obesi dal 10 al 18%, ovviamente associato anche ad un aumento del numero delle persone in sovrappeso).
												img.img-responsive(src="http://placehold.it/750x350", alt="")
												p
													|La steatosi, se si attuano le opportune misure eliminando le cause che l’hanno prodotta, è un danno stabile o reversibile. Purtroppo, essendo un danno iniziale, non facilmente diagnosticabile per la mancanza di segni e sintomi clinici evidenti, può evolvere in steatoepatite.
												p
													| La Steatoepatite è presente nel 5-10% dei pazienti con NAFLD e si instaura per la costante presenza delle cause/fattori di rischio che hanno condotto alla NAFLD. Tali cause/fattori di rischio sono legate principalmente ad una non corretta alimentazione e allo stile di vita, fattori che inevitabilmente portano ad obesità, ipercolesterolemia, ipertrigliceridemia, insulino-resistenza e diabete tipo 2. Oltre queste cause/fattori di rischio più comuni la NAFLD si riscontra in seguito a farmaci assunti cronicamente o tossici per il fegato, diete ipocaloriche drastiche non bilanciate, disordini metabolici ereditari, danno intestinale. Non ultima causa di NAFLD è l’epatite da virus C.
												p
													|La steatoepatite progredisce più o meno lentamente verso la fibrosi e la cirrosi. Inoltre, è spesso associata a un aumentato rischio di malattia cardiovascolare e diabete mellito di tipo 2. 
												p
													|Negli ultimi anni si sta valutando attentamente quanti pazienti affetti dall’epatopatia cronica possano andare incontro all' epatocarcinoma, senza necessariamente avere una cirrosi, legata ai virus dell’epatite virale C.												
									.panel.panel-default
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
											#headingThree.panel-heading(role='tab')
												h4.panel-title
													|	Sintomatologia e segni clinici
												.plus-minus
										#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
											.panel-body
												p
													|La maggior parte dei pazienti con NAFLD è asintomatica, o presenta una sintomatologia sfumata.
													|Spesso la diagnosi è occasionale dopo un controllo generale (esami del sangue, ecografia). Alcuni pazienti riferiscono un senso di malessere, stanchezza o una vaga sensazione di dolenzia a livello del quadrante addominale destro (vedi la sede del dolore nell’immagine), difficoltà digestiva. Si può riscontrare epatomegalia e sovrappeso.
												img.img-responsive(src="http://placehold.it/750x350", alt="")
									.panel.panel-default
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
											#headingFour.panel-heading(role='tab')
												h4.panel-title
													|	Esami clinici e strumentali
												.plus-minus
										#collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
											.panel-body
												p
													|Gli esami clinici che ci devono far sospettare una steatosi o una steatoepatite sono l'iperinsulinemia e l’ipertransaminasemia. Un aumento dell’alanina aminotransferasi (ALT o GPT) e/o dell’aspartato aminotransferasi (AST o GOT) sono gli esami più frequentemente alterati. Va tuttavia segnalato che alcuni soggetti possono presentare dei valori di AST e ALT normali pur in presenza di NAFLD.
													|Le transaminasi sono degli enzimi contenuti nelle cellule del fegato, che di fatto vengono “liberati” quando queste subiscono un danno, causandone l’aumento dei livelli nel sangue. 
												p
													|Generalmente i valori delle transaminasi non sono molto aumentati nella steatosi e sono appena al di sopra della norma.
													|Inoltre, è frequente un’alterazione anche di altri enzimi epatici: fosfatasi alcalina (ALP) e gamma-glutamil transpeptidasi (GGT). Spesso può essere anche associato un incremento dei livelli di ferritinemia (che in genere indica la presenza di infiammazione).
												p
													|Se da un lato questi sono gli esami che valutano in modo diretto un’eventuale sofferenza del fegato, dall’altro è frequente riscontrare anche un aumento degli esami che correlano con il metabolismo dei grassi e degli zuccheri (è frequente infatti rilevare un aumento di trigliceridi e colesterolo, della glicemia e dei livelli di insulina basale ad indicare un quadro di insulino resistenza).
												p
													|L’ecografia rappresenta nella pratica clinica quotidiana un esame di primo livello per lo studio delle malattie del fegato e dell’apparato biliare; essa è di facile esecuzione, basso costo, non invasiva, ripetibile, e in mani affidabili, costituisce un indispensabile strumento di diagnosi.
													|Nella diagnostica della steatosi essa rappresenta la pietra miliare; il reperto caratteristico è quello del cosiddetto fegato brillante.
									.panel.panel-default
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
											#headingFive.panel-heading(role='tab')
												h4.panel-title
													|	Esami clinici e strumentali
												.plus-minus
										#collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
											.panel-body
												p
													|Da sempre si è cercato di ottenere informazioni sullo stato funzionale e sull' architettura del fegato utilizzando le informazioni derivate da indagini non invasive (ad es. l’ecografia e gli esami del sangue), tuttavia al momento nessun test ematico da solo è in grado di dare una risposta completa. Negli ultimi anni si è cercato di ovviare a questo problema studiando la possibile combinazione di dati generali del paziente al fine di ottenere una risposta “indiretta”.
												p
													|Di recente, nella pratica clinica sono stati introdotti alcuni biomarcatori che potrebbero aiutare a selezionare i pazienti con epatopatia iniziale o cronica.
													|FIBROTEST
													|Rappresenta la combinazione di marcatori indiretti più studiata finora, prevede la combinazione di esami del sangue quali GGT, bilirubina totale, aptoglobina, α1 e α2 macroglobulina.
												p
													|Fibrotest può essere utilizzato per pazienti con epatite virale, alcolica o metabolica per la valutazione del danno epatico. Permette di classificare i pazienti per stadio oltre a determinare l’attività necroinfiammatoria virale.
												p
													b Fibromax
													|Il FibroMax fornisce informazioni sul grado di steatosi, flogosi e fibrosi. Questo test utilizza un sistema basato su alcuni parametri del paziente come sesso, età, peso, altezza e alcuni esami del sangue (α2macroglobulina, aptoglobulina, apolipoproteina A1, bilirubina totale, AST, ALT, GGT, glicemia a digiuno, trigliceridi e colesterolo totale).
													|Come per il Fibrotest può essere utilizzato per pazienti con epatite virale, alcolica o metabolica per la valutazione del danno epatico.
													|Negli studi condotti finora, per valutare l’efficacia di questi test, si evidenziano dei dati incoraggianti, utili per lo screening della fibrosi avanzata o della NASH in pazienti con sindrome metabolica.
												p
													b Fibroscan
													|E’ una tecnica che è stata sviluppata di recente per la valutazione della fibrosi epatica, viene anche chiamata elastografia transitoria. Permette di valutare la rigidità del fegato con uno strumento che è simile ad un ecografo, secondo il presupposto che il tessuto del fegato, quando va in contro alla fibrosi diventa più “duro”.
													|L’esame si esegue mediante una sonda che, appoggiata tra gli spazi intercostali al di sopra del fegato, invia un piccolo impulso ad onda meccanica alla cute e ne registra il tempo di “ritorno”: con tale metodica lo strumento riesce a registrare la velocità di propagazione delle onde e stabilire quindi la rigidità del fegato.
												img.img-responsive(src="http://placehold.it/750x350", alt="")
									.panel.panel-default
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
											#headingSix.panel-heading(role='tab')
												h4.panel-title
													|	Farmaci e terapie
												.plus-minus
										#collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSix')
											.panel-body
												p
													|Non esiste ad oggi una terapia standardizzata della NAFLD.
													|Modificare il proprio stile di vita è fondamentale per una significativa riduzione della steatosi e una normalizzazione degli esami clinici. L’utilizzo di integratori antiossidanti è utile per prevenire l’evoluzione del danno, recuperare la funzionalità epatica, riequilibrare il metabolismo.
												p
													|RealSIL, un integratore, a base di silibina con fosfolipidi e vitamina E, protegge gli epatociti dal danno infiammatorio dei radicali liberi, come stabilizzatore di membrana e antiossidante naturale, ed è in grado di “depurare il fegato grasso” e rallentarne il danno, riequilibrando l’assetto metabolico, alla base dell’accumulo di grassi nel fegato. Dagli studi fatti con RealSIL si è visto che il prodotto normalizza gli indici di funzionalità epatica (ALT e YGT), riduce il grado di steatosi epatica, contrasta l’infiammazione epatica e sistemica, riduce l’iperglicemia e migliora la sensibilità all’insulina.
												p
													|I risultati uno studio randomizzato in doppio cieco multicentrico finalizzato a dimostrare l’attività di questo integratore sono molto incoraggianti e indicano come le sostanze che lo compongono possano essere in grado di agire sulla malattia. Va inoltre sottolineata l’ottima tollerabilità e compliance per i pazienti, anche per dosaggi elevati e per lunghi periodi.
												p
													|Link utili
													|Studio 1: complesso di vitamina E, silibina, fosfolipidi e riduzione danno epatico
													|Studio 2: complesso di vitamina E, silibina, fosfolipidi ed effetto antifibrotico
													|Fegato grasso: patologia, diagnosi, terapia
													|In passato sono stati proposti diversi farmaci, insulino-sensibilizzanti, ipolipemizzanti, citoprotettori, antinfiammatori, vitamine. Tutti questi prodotti hanno dimostrato dei limiti nel loro utilizzo nella patologia cronica del fegato, per inefficacia, effetti indesiderati o altre problematiche relative ad un assunzione cronica o con dosaggi elevati.
													|La dieta e l’attività fisica sono alla base di un corretto approccio per la NAFLD e l’assunzione di qualsiasi prodotto è secondaria alla modifica dello stile di vita e deve essere mirata ai fattori che innescano il danno epatico cronico.
							#meteorismo.tab-pane(role='tabpanel')
								h4 Il problema
								p
									|Il meteorismo è un disturbo frequente, dovuto alla presenza di quantità eccessive di gas nello stomaco e nell’intestino.
									|Si manifesta con una sintomatologia caratterizzata inizialmente con fastidio addominale, senso di gonfiore e rumori intestinali (borborigmi), che, protraendosi nel tempo, possono complicarsi in forti dolori addominali e crampi.
								p
									|Il meteorismo si innesca durante il processo digestivo, quando gli zuccheri e la cellulosa “fermentano” nell’intestino, con la conseguente formazione di azoto, metano e anidride carbonica.
								p
									|Una delle cause più diffuse di questo disturbo è il cattivo funzionamento del colon, conosciuto come sindrome del colon irritabile, ma può derivare anche da intolleranze alimentari o, più semplicemente, dal consumo di alcune fibre non idrosolubili, che tendono a fermentare e, di conseguenza, ad aumentare la produzione di gas.
									|Gas di cui sono ricchi alcuni vegetali come i legumi (fagioli, piselli secchi e lenticchie), ma anche altre verdure a foglia verde (cavoli, broccoli e cavolfiori), la soia, i ravanelli, le cipolle, i cetrioli e i peperoni.
								p
									|Anche i cibi grassi (fritti, salse), quelli con alto contenuto di lattosio (latte, gelato, creme) e i dolcificanti artificiali (sorbitolo, mannitolo e prodotti che li contengono) possono favorire l’accumulo di gas nello stomaco e nell’intestino, come anche l’abuso di tè, caffè o bevande gassate.
									|Oltre alla fermentazione di zuccheri e carboidrati dovuta a cattiva digestione, il meteorismo può avere un’altra causa: l’aerofagia, cioè l’ingestione di aria durante la deglutizione di cibi e bevande, che provoca nello stomaco il tipico gonfiore.
								p
									|Questo disturbo, dovuto alla formazione di bollicine d’aria nella saliva, che vengono di seguito ingerite, dipende spesso da cattive abitudini come mangiare velocemente, masticare a lungo un chewing-gum o fumare.
								h4 La soluzione
								p
									|Oltre a modificare il proprio stile di vita e abitudini alimentari, Meteosim può rappresentare una valida soluzione al meteorismo e all’aerofagia. È un medicinale di automedicazione che favorisce l’eliminazione dei gas nel tratto gastrointestinale.
								p
									|L’efficacia di Meteosim è dovuta all’azione del simeticone (dimeticone attivato), una miscela di polimeri di silicone combinati con diossido di silicio, che agisce localmente nell’apparato gastrointestinale ed è capace di abbassare la tensione superficiale “sequestrando” il gas in eccesso e favorendone l’eliminazione.
								p
									|Il simeticone fa in modo che le bolle di gas presenti confluiscano per poi essere eliminate più facilmente alleviando i fastidiosi sintomi associati al meteorismo e all’aerofagia.
								p
									|Il simeticone non viene assorbito dall’organismo e non interferisce sull’assorbimento delle sostanze nutritive agendo pertanto solo sui gas.
									|L’ampio campione di pazienti trattati in oltre 40 anni di utilizzo e l’elevato numero di studi disponibili testimoniano l’efficacia di simeticone nel ridurre la sintomatologia da eccessiva presenza di aria nel tratto gastrointestinale, indicazione confermata dalla Food and Drug Administration già nel 1973.
								p
									|Meteosim - simeticone - si può usare per curare disturbi lievi e transitori, facilmente riconoscibili e risolvibili: può essere quindi acquistato senza ricetta ma va usato correttamente per assicurarne l’efficacia. Il medicinale non presenta particolari controindicazioni, salvo per ipersensibilità al principio attivo o ad altri componenti del prodotto. È generalmente controindicato nelle donne in gravidanza.
								p
									|Meteosim compresse masticabili
									|La posologia suggerita per gli adulti è di 4 compresse al giorno, dopo i pasti o secondo prescrizione medica
									|Simeticone IBI, bambini gocce orali, sospensione
									|La posologia suggerita per i bambini è di 15 gocce, 2-4 volte al dì, dopo i pasti o secondo prescrizione medica						
				include blocks/sidebar
	// Including footer
	include blocks/footer