extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Chi Siamo

// Page meta-description
block append metatags 
	meta(name='description', content='L’Istituto Biochimico italiano, Ibi, fondato nel 1918 dal Prof. Giovanni Lorenzini, vanta una lunga tradizione scientifica che, unita alle nuove tecnologie applicate e ad un’attenta cura nella produzione, fanno della Ibi sinonimo di affidabilità e garanzia di alta qualità.')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.chi-siamo
		.container
			.main-caption
				h1 Chi siamo
	section.content
		.container
			.row
				.col-md-8
					.tabs.chi-siamo-tabs
						// Nav tabs
						ul.nav.nav-tabs(role='tablist')
							li.active(role='presentation')
								a(href='#chisiamo', aria-controls='chisiamo', role='tab', data-toggle='tab') Chi Siamo
							li(role='presentation')
								a(href='#gruppo', aria-controls='gruppo', role='tab', data-toggle='tab') Il Gruppo
							li(role='presentation')
								a(href='#storia', aria-controls='messages', role='tab', data-toggle='tab') La Storia
							li(role='presentation')
								a(href='#codice-etico', aria-controls='codice-etico', role='tab', data-toggle='tab') Codice Etico
							li(role='presentation')
								a(href='#quality', aria-controls='quality', role='tab', data-toggle='tab') Quality Unit Sistem
							li(role='presentation')
								a(href='#politica', aria-controls='politica', role='tab', data-toggle='tab') Politica Integrata
						// Tab panes
						.tab-content
							#chisiamo.tab-pane.active(role='tabpanel')
								h2
									| IBI: 90 anni di esperienza
								h3
									| La nostra storia, i nostri valori

								img.img-responsive(src="/img/home-content-img.jpg")

								p
									|L’Istituto Biochimico Italiano, Ibi, fondato dal Prof. Giovanni Lorenzini, è un’azienda farmaceutica di grande tradizione scientifica presente sul mercato italiano da più di 90 anni, con obiettivi di ricerca, innovazione e produzione. Oltre la tradizione storica aziendale, le nuove tecnologie applicate e un’attenta cura nella produzione, fanno della Ibi sinonimo di affidabilità e garanzia di alta qualità nei paesi in cui l’Azienda è presente.
								p
									|Ibi dedica la propria attività allo sviluppo di nuove applicazioni terapeutiche per offrire soluzioni alternative a medici e pazienti ed è oggi una realtà consolidata in Italia, Europa, Asia, Australia e US.
								p
									|La sede si trova ad Aprilia dove, oltre allo stabilimento di produzione, sono collocate tutte le funzioni aziendali. La produzione e il controllo qualità sono il core business dell’Azienda, a cui si affiancano Ricerca e Sviluppo, Farmacovigilanza, Informazione Scientifica e tutti i servizi che ruotano intorno alla vita del farmaco, in una realtà aziendale consolidata in Italia, Europa, Asia, Australia e US.
								p
									|Con i suoi 18.000 mq di impianti ed un edificio completamente dedicato alla produzione di penicilline β-lattamiche, Ibi offre servizi e tecnologia all’avanguardia che la posizionano tra le prime 10 aziende italiane nella produzione conto terzi di diverse molecole. Ibi è oggi presente in più di 30 paesi con l’esportazione di gran parte dei suoi prodotti, pari ai 2/3 della produzione ed è una delle poche aziende, fuori dal territorio americano, ad aver ottenuto l’approvazione dell’FDA per la produzione di penicilline sterili per il mercato statunitense.
								p
									|Ibi ha sviluppato una strategia di distribuzione negli ospedali affidando la commercializzazione dei prodotti ad una struttura dedicata, Ibisqus, oggi presente in UK, Germania ed Italia. Sul mercato italiano è presente con diversi prodotti, dalle penicilline sterili agli integratori alimentari. Ha una presenza consolidata nell’antibioticoterapia e in gastroenterologia.
								p
									|Ibi raggiunge direttamente 4.000 farmacie e 3.000 specialisti grazie ad una rete di informatori scientifici qualificati e, indirettamente, oltre 6.000 medici di base con attività di direct mailing, detailing e newsletter.
								p
									|Sul mercato italiano è presente con una varietà di prodotti, dalle penicilline sterili agli integratori alimentari con una presenza consolidata nell’antibioticoterapia oltre diverse aree terapeutiche, quali gastroenterologia, anestesiologia e area infiammazione e dolore.
								.site-box
									h4 Il sito internet
									p 
										|Con la realizzazione di questo sito web, la IBI desidera informare il pubblico sulle proprie attività aziendali e fornire agli operatori sanitari un quadro completo dei propri medicinali che possono essere forniti dietro presentazione di ricetta medica o SOP.
							#gruppo.tab-pane(role='tabpanel')
								h2
									| IBI: Il Gruppo
								h3
									| La nostra storia, i nostri valori
							#storia.tab-pane(role='tabpanel')
								h2
									| IBI: La Storia
								h3
									| La nostra storia, i nostri valori

								img.img-responsive(src="/img/storia.jpg")

								p
									|Raccontare la storia di Ibi vuol dire parlare  di un passato ricco di soddisfazioni,  di imprenditorialità e capacità. Un passato fatto di uomini, creatività,  strategie lungimiranti, di volontà nella ricerca del miglioramento continuo e di determinazione nell’affrontare le sfide: tutto questo è Ibi, una storia ed una realtà italiane.
								p
									|L’Istituto Biochimico Italiano Giovanni Lorenzini S.p.a. (IBI), una delle realtà farmaceutiche tradizionali nel panorama italiano, venne fondato a Milano nel 1918 dal Prof. Giovanni Lorenzini.  Sotto la sua guida il lavoro della Ibi venne finalizzato alla ricerca ed alla produzione farmaceutica, in particolare nel campo delle vitamine. Proprio agli albori degli studi su queste sostanze, vennero sviluppate in IBI ricerche sui metodi di estrazione, dosaggio, stabilizzazione delle vitamine allora appena scoperte e venne elaborato il primo prodotto polivitaminico per uso terapeutico, la ben nota Vitamina Lorenzini.
								p
									|Grazie al desiderio del Prof. Lorenzini di voler offrire un servizio alla società è nata la missione “Fare per Dare” che la IBI persegue dunque fin dalla sua fondazione e che gli ha permesso durante il periodo delle due Guerre mondiali di svolgere un ruolo sociale importante e di soddisfare il fabbisogno nazionale di acido ascorbico, tiamina ed insulina.
								p
									|A partire dal 1940 inizia la “conduzione femminile” della IBI, infatti, alla morte del suo fondatore, l’azienda passa sotto la direzione della figlia Loredana Lorenzini e rivolge tutte le sue attenzioni allo sviluppo del settore specialità etiche per il mercato italiano ed all’esportazione in tutto il mondo di prodotti finiti e in bulk. A partire dal 1956 gli antibiotici diventano il punto focale della ricerca IBI, che sviluppa metodi produttivi più efficienti di nuovi derivati semisintetici di antibiotici garantendone la qualità.
								p
									|A testimonianza dell’elevato livello qualitativo raggiunto, la Ibi è una delle prime aziende italiane ad ottenere nel 1961 la prima certificazione FDA all’esportazione in USA di antibiotici beta lattamici ed orali. Negli anni ’70 si apre un periodo di cessione di Know How che la vede impegnata nella costruzione di importanti impianti di produzione di antibiotici all’estero ( Algeria, Cuba, Nigeria, Egitto, Panama). Si rende necessario un ampliamento alla sede amministrativa e dirigenziale ormai ubicata in pieno centro a Milano, nel 1974  si inaugura l’unità produttiva di Aprilia, oggi sede aziendale. In questi anni, sotto la guida di questa donna tenace e  determinata l’azienda arriva ad essere negli anni ottanta una tra le prime industrie farmaceutiche nel panorama italiano.
								p
									|Nel 1990 assistiamo ad un ricambio generazionale. A Loredana Lorenzini succede  la nipote Camilla Borghese Khevenhüller, attuale presidente e amministratore delegato. Dopo circa 70 anni dalla sua nascita la IBI si trova a dover affrontare i profondi mutamenti del settore farmaceutico italiano. Inizia in questi anni una riorganizzazione che prevede il rinnovo del listino dei prodotti , il potenziamento della struttura commerciale in Italia.  La razionalizzazione delle risorse porta alla concentrazione nell’unico sito di Aprilia sia della produzione negli anni  novanta che degli uffici nel 2003. Il rinnovamento del management da un nuovo impulso allo sviluppo aziendale consolidando ed espandendo sia i mercati nazionali che internazionali. Ibi diventa così un marchio riconosciuto nel mondo sia come esportatore di materie prime sia di prodotti confezionati.
								p
									|Nel 2004 IBI è il fornitore privilegiato di importanti aziende in UK, USA, Germania ed Australia. Le prospettive di  crescita nel mercato estero prospettano la necessità di produrre maggiori volumi, viene così inaugurato nel 2007 un nuovo edificio interamente dedicato alla produzione di beta lattamici.
								p
									|Nel 2006 Ibi avverte la necessità di adeguare la propria organizzazione ad una dimensione europea per rispondere  in modo adeguato all’affermarsi delle aziende specializzate nei farmaci equivalenti. Insieme ad un noto gruppo europeo viene fondata la Ibisqus, dedicata alla commercializzazione in ospedale in UK, Italia e Germania.
								p
									|Anche nel presente la IBI persegue la vocazione di continuare a rappresentare una moderna e creativa realtà nel panorama farmaceutico nazionale. Non si ferma davanti agli scenari in continuo movimento e neanche di fronte alle nuove tecnologie facendole proprie. In questa prospettiva di sviluppo la IBI si è affiancata al mondo della Nanomedicina che si sta sempre più affermando. Ha rinnovato il proprio Know How ed i laboratori ed è pronta per nuove sfide per offrire strumenti e prodotti in linea con la missione iniziale del suo fondatore “fare per dare” al fine di migliorare la qualità della vita.
							#codice-etico.tab-pane(role='tabpanel')
								h2
									| IBI: Codice Etico
								h3
									| La nostra storia, i nostri valori
								p
									|IBI adottando il presente Codice Etico esprime il convincimento che il rispetto dei principi qui contenuti sia il primo fattore di successo per la conduzione degli affari e delle attività aziendali. Esprime inoltre la volontà di operare affinché il primario obiettivo aziendale sia quello di soddisfare le necessità e le aspettative degli interlocutori di IBI.
								p
									b Valori ed Obiettivi
									|IBI pone alla base del proprio operato aziendale i valori dell’onestà, della trasparenza, della correttezza e lealtà, negli affari, insieme al rispetto degli interessi di ogni interlocutore e dei principi di libera concorrenza, pertanto richiede a tutti i collaboratori comportamenti idonei e conformi alle leggi e ai regolamenti aziendali.
									|IBI, come produttore di farmaci per la salute umana, impegna tutti i propri collaboratori affinché questo obiettivo, primario e assoluto, sia sempre perseguito con il massimo di qualità, nella piena consapevolezza dell’importanza dei farmaci per il benessere delle persone.
									|IBI si impegna ad operare in modo responsabile, a valorizzare le Risorse Umane di cui si avvale e a tutelare l’ambiente in cui opera.
									|IBI vuole assicurare che, attraverso idonei strumenti organizzativi, si possa prevenire la violazione dei principi di legalità, trasparenza, correttezza e lealtà da parte dei propri dipendenti e collaboratori e vigilerà sulla loro osservanza e implementazione.
								p
									b	Applicazione
									| Il Codice Etico si applica a tutte le attività aziendali e costituisce punto di riferimento per la regolamentazione adottata dalle diverse Direzioni della società.
									| E’ a cura di IBI la diffusione di quanto contenuto nel presente Codice affinché tutti coloro che intrattengono rapporti con l’azienda, siano a conoscenza di questi standard aziendali e ne comprendano completamente contenuti e finalità.
								p
									b	Norme e Standard di comportamento
									b Regolamento Aziendale.
									|Criteri guida nelle politiche verso i collaboratori
									|In primo luogo vanno messe la tutela della dignità e della salute di tutti coloro che intrattengono rapporti di lavoro con l’azienda. Di altrettanta importanza è la sicurezza individuale e collettiva sul lavoro.
									|IBI è impegnata altresì ad offrire pari opportunità di lavoro senza distinzioni basate su etnia, religione, opinioni, nazionalità, sesso, condizioni fisiche, età, condizioni sociali. IBI cura la formazione tecnica, professionale ed umana dei propri collaboratori.
								p
									b Criteri guida tra e per i collaboratori
									|La conformità dei comportamenti alla legge vigente è un requisito essenziale e tassativo per IBI e per tutti i suoi collaboratori. Ogni collaboratore deve essere a conoscenza delle implicazioni di legge relative alla propria attività.
									|Il comportamento dei collaboratori di IBI, oltre che ad essere in sintonia con le politiche aziendali, deve fondarsi su principi di collaborazione, responsabilità, professionalità e diligenza. La politica aziendale relativa ai rapporti con e tra i dipendenti si impronta a criteri di lealtà e persegue il constante obiettivo del rispetto della dignità personale. A tal fine, IBI non tollera nel proprio ambiente lavorativo discriminazioni e molestie di alcun tipo, ne comportamenti lesivi della sicurezza e salute sul posto di lavoro dovuti ad abuso di alcol o droghe, ne comportamenti integranti gli estremi di minacce, abusi e/o violenze da parte o contro i propri dipendenti durante lo svolgimento delle mansioni lavorative.
								p
									b	Doveri e responsabilità
									|- Conflitto d’interessi.<br>
									•	I collaboratori di IBI devono rispettare le regole del presente Codice anche nei rapporti verso l’esterno, in particolare:<br>
									•	i collaboratori devono informare in modo adeguato i soggetti terzi del contenuto delle disposizioni del presente Codice al fine di esigere il rispetto e comprensione del proprio comportamento e operato.<br>
									•	I collaboratori di IBI devono adoperarsi per evitare situazioni in grado di generare conflitti di interesse sia reale, sia potenziale tra attività strettamente personali e aziendali; pertanto trasparenza, onestà e fiducia sono valori che devono essere rispettati sempre e comunque.<br>
									•	Nessun dipendente di IBI, inoltre, può ottenere vantaggi personali in relazione all’attività esplicata per conto di IBI.<br>
									|Nel caso di insorgenza di situazioni di potenziale conflitto, sarà essenziale la tempestiva comunicazione tra il collaboratore ed il proprio superiore al fine di risolvere la questione.<br><br>
									|- Le informazioni aziendali: uso e tutela.<br>
									|La riservatezza delle informazioni è un bene che IBI tutela anche attraverso i propri collaboratori: ogni informazione ottenuta da un collaboratore in relazione alla propria attività è di proprietà di IBI.
									|I dati che riguardano le persone saranno trattati nel rispetto delle disposizioni vigenti in materia.
									|I collaboratori che vengono a conoscenza di informazioni non di pubblico dominio devono usare la massima cautela e cura nell’utilizzare tali informazioni, evitandone la divulgazione a persone non autorizzate, sia all’interno, sia all’esterno dell’azienda.
								p
									b Rapporti con la Pubblica Amministrazione, organizzazioni politiche e sindacali
									|I rapporti con le Istituzioni Pubbliche saranno tenuti solo dalle funzioni a ciò autorizzate.
									|Tutti i rapporti che coinvolgono le funzioni aziendali con la Pubblica Amministrazione devono rispettare i principi di diligenza, trasparenza ed onestà.
									I collaboratori di IBI devono tenere un comportamento ispirato alla massima correttezza ed integrità nei rapporti con dipendenti e rappresentanti di enti pubblici, forze politiche e sindacali.
									|Nel caso in cui IBI utilizzi un consulente o un soggetto terzo per essere rappresentato nei rapporti verso la Pubblica Amministrazione, nei confronti di tale soggetto si applicano le stesse direttive impartite ai dipendenti di IBI.
								p
									b	Rapporti con gli operatori sanitari/clienti
									|I collaboratori di IBI conformano il loro comportamento al Codice deontologico di Farmindustria e alle eventuali altre norme specifiche che la Società dovesse adottare al riguardo.
								p
									b	Controlli
									|Il sistema di controllo interno deve essere orientato all’adozione di strumenti e metodologie volti a contrastare i potenziali rischi aziendali, al fine di determinare una ragionevole garanzia circa il rispetto non solo delle leggi, ma anche delle disposizioni e procedure interne.
									|Il management aziendale deve curare costantemente la conformità dei comportamenti a quanto indicato nel Codice e, se necessario, realizzare speciali programmi di verifica.
									|Organi preposti alla verifica dell’efficacia del sistema di controllo interno sono: il Consiglio di Amministrazione; il Presidente, l’Amministratore Delegato.
								p
									b Integrazione del Codice
									|Questo Codice costituisce parte integrante del “Modello di organizzazione, gestione e controllo” previsto dall’art. 6 del Decreto Legislativo 231/2001 in materia di "Disciplina della responsabilità amministrativa delle persone giuridiche".
									|IBI si impegna a diffondere il contenuto di questo Codice a tutti coloro che entreranno in relazione con l’azienda.
									|L’osservanza del Codice Etico è affidata indistintamente a tutti i collaboratori della società.
								p
									b	Sanzioni
									|L’osservanza delle disposizione del presente codice costituisce parte degli obblighi di diligenza e fedeltà dei dipendenti IBI ai sensi e per gli effetti degli artt. 2104 e 2105 del cod. civ.. In relazione al collegato disposto dell’art. 2106 del cod. civ., il presente codice richiama espressamente le disposizioni contenute nel CCNL dell’industria chimica – sia nella versione attualmente in vigore che in qualsiasi futuro rinnovo dello stesso – in materia di provvedimenti disciplinari.
							#quality.tab-pane(role='tabpanel')
								h2
									| IBI: Quality Unit Sistem
								h3
									| La nostra storia, i nostri valori
							#politica.tab-pane(role='tabpanel')
								h2
									| IBI: Politica integrata
								h3
									| La nostra storia, i nostri valori
								p									
									|La IBI agisce affinché l’operatività delle diverse realtà aziendali si svolgano salvaguardando la salute delle persone, la sicurezza delle operazioni e l’ambiente.<br>
									|La Politica Salute, Sicurezza e Ambiente esprime l’impegno della IBI su questi temi.
								ul
									li
										a Politica (rev. 06)
									li
										a Certificato 18001
									li
										a Politica (rev. 06)
									li
										a Politica (rev. 06)
									li
										a Politica (rev. 06)
									li
										a Politica (rev. 06)
				include blocks/sidebar
	// Including footer
	include blocks/footer