extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Chi Siamo

// Page meta-description
block append metatags 
	meta(name='description', content='L’Istituto Biochimico italiano, Ibi, fondato nel 1918 dal Prof. Giovanni Lorenzini, vanta una lunga tradizione scientifica che, unita alle nuove tecnologie applicate e ad un’attenta cura nella produzione, fanno della Ibi sinonimo di affidabilità e garanzia di alta qualità.')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.chi-siamo
		.container
			.main-caption
				h1 Chi siamo
	section.content
		.container
			.row
				.col-sm-8
					.tabs.chi-siamo-tabs
						// Nav tabs
						ul.nav.nav-tabs(role='tablist')
							li.active(role='presentation')
								a(href='#chisiamo', aria-controls='chisiamo', role='tab', data-toggle='tab') Chi Siamo
							li(role='presentation')
								a(href='#gruppo', aria-controls='gruppo', role='tab', data-toggle='tab') Il Gruppo
							li(role='presentation')
								a(href='#storia', aria-controls='messages', role='tab', data-toggle='tab') La Storia
							li(role='presentation')
								a(href='#codice-etico', aria-controls='codice-etico', role='tab', data-toggle='tab') Codice Etico
							li(role='presentation')
								a(href='#quality', aria-controls='quality', role='tab', data-toggle='tab') Quality Unit Sistem
							li(role='presentation')
								a(href='#politica', aria-controls='politica', role='tab', data-toggle='tab') Politica Integrata
						// Tab panes
						.tab-content
							#chisiamo.tab-pane.active(role='tabpanel')
								h2
									| IBI: 90 anni di esperienza
								h3
									| La nostra storia, i nostri valori

								img.img-responsive(src="/img/home-content-img.jpg")

								p
									|L’Istituto Biochimico italiano, Ibi, fondato nel 1918 dal Prof. Giovanni Lorenzini, vanta una lunga tradizione scientifica che, unita alle nuove tecnologie applicate e ad un’attenta cura nella produzione, fanno della Ibi sinonimo di affidabilità e garanzia di alta qualità. Con i suoi 18.000 mq di impianti ed un nuovo edificio completamente dedicato alla produzione di ß-lattamici,  Ibi offre servizi e tecnologia all’avanguardia che la posizionano tra le prime 10 aziende italiane nella produzione conto terzi. 
									<br><br>
									|Ibi è oggi presente in più di 30 paesi con un’esportazione di tutta la gamma dei suoi prodotti pari ai 2/3 della produzione ed è una delle poche aziende, fuori dal territorio americano, ad aver ottenuto l’approvazione dell’ FDA per produrre penicilline sterili per il mercato statunitense.
									<br><br>
									|Ibi ha sviluppato una nuova strategia di distribuzione negli ospedali affidando la commercializzazione dei prodotti ad una nuova struttura dedicata, Ibisqus, nata da una joint venture oggi presente in UK, Germania ed Italia. Sul mercato italiano è presente con una varietà di prodotti che spaziano dalle penicilline sterili agli integratori alimentari. Ha una presenza consolidata nell’antibiotico –terapia e nel campo della gastroenterologia. 
									<br><br>
									|Ibi raggiunge 4.000 farmacie e 3.000 specialisti grazie ad una rete di informatori scientifici altamente qualificati.
							#gruppo.tab-pane(role='tabpanel')
								h2
									| IBI: Il Gruppo
								h3
									| La nostra storia, i nostri valori
							#storia.tab-pane(role='tabpanel')
								h2
									| IBI: La Storia
								h3
									| La nostra storia, i nostri valori

								img.img-responsive(src="/img/storia.jpg")

								p
									|Raccontare la storia di Ibi vuol dire parlare  di un passato ricco di soddisfazioni,  di imprenditorialità e capacità. Un passato fatto di uomini, creatività,  strategie lungimiranti, di volontà nella ricerca del miglioramento continuo e di determinazione nell’affrontare le sfide: tutto questo è Ibi, una storia ed una realtà italiane.
									<br><br>
									|L’Istituto Biochimico Italiano Giovanni Lorenzini S.p.a. (IBI), una delle realtà farmaceutiche tradizionali nel panorama italiano, venne fondato a Milano nel 1918 dal Prof. Giovanni Lorenzini.  Sotto la sua guida il lavoro della Ibi venne finalizzato alla ricerca ed alla produzione farmaceutica, in particolare nel campo delle vitamine. Proprio agli albori degli studi su queste sostanze, vennero sviluppate in IBI ricerche sui metodi di estrazione, dosaggio, stabilizzazione delle vitamine allora appena scoperte e venne elaborato il primo prodotto polivitaminico per uso terapeutico, la ben nota Vitamina Lorenzini.
									<br><br>
									|Grazie al desiderio del Prof. Lorenzini di voler offrire un servizio alla società è nata la missione “Fare per Dare” che la IBI persegue dunque fin dalla sua fondazione e che gli ha permesso durante il periodo delle due Guerre mondiali di svolgere un ruolo sociale importante e di soddisfare il fabbisogno nazionale di acido ascorbico, tiamina ed insulina.
									<br><br>
									|A partire dal 1940 inizia la “conduzione femminile” della IBI, infatti, alla morte del suo fondatore, l’azienda passa sotto la direzione della figlia Loredana Lorenzini e rivolge tutte le sue attenzioni allo sviluppo del settore specialità etiche per il mercato italiano ed all’esportazione in tutto il mondo di prodotti finiti e in bulk. A partire dal 1956 gli antibiotici diventano il punto focale della ricerca IBI, che sviluppa metodi produttivi più efficienti di nuovi derivati semisintetici di antibiotici garantendone la qualità.
									<br><br>
									|A testimonianza dell’elevato livello qualitativo raggiunto, la Ibi è una delle prime aziende italiane ad ottenere nel 1961 la prima certificazione FDA all’esportazione in USA di antibiotici beta lattamici ed orali. Negli anni ’70 si apre un periodo di cessione di Know How che la vede impegnata nella costruzione di importanti impianti di produzione di antibiotici all’estero ( Algeria, Cuba, Nigeria, Egitto, Panama). Si rende necessario un ampliamento alla sede amministrativa e dirigenziale ormai ubicata in pieno centro a Milano, nel 1974  si inaugura l’unità produttiva di Aprilia, oggi sede aziendale. In questi anni, sotto la guida di questa donna tenace e  determinata l’azienda arriva ad essere negli anni ottanta una tra le prime industrie farmaceutiche nel panorama italiano.
									<br><br>
									|Nel 1990 assistiamo ad un ricambio generazionale. A Loredana Lorenzini succede  la nipote Camilla Borghese Khevenhüller, attuale presidente e amministratore delegato. Dopo circa 70 anni dalla sua nascita la IBI si trova a dover affrontare i profondi mutamenti del settore farmaceutico italiano. Inizia in questi anni una riorganizzazione che prevede il rinnovo del listino dei prodotti , il potenziamento della struttura commerciale in Italia.  La razionalizzazione delle risorse porta alla concentrazione nell’unico sito di Aprilia sia della produzione negli anni  novanta che degli uffici nel 2003. Il rinnovamento del management da un nuovo impulso allo sviluppo aziendale consolidando ed espandendo sia i mercati nazionali che internazionali. Ibi diventa così un marchio riconosciuto nel mondo sia come esportatore di materie prime sia di prodotti confezionati.
									<br><br>
									|Nel 2004 IBI è il fornitore privilegiato di importanti aziende in UK, USA, Germania ed Australia. Le prospettive di  crescita nel mercato estero prospettano la necessità di produrre maggiori volumi, viene così inaugurato nel 2007 un nuovo edificio interamente dedicato alla produzione di beta lattamici.
									<br><br>
									|Nel 2006 Ibi avverte la necessità di adeguare la propria organizzazione ad una dimensione europea per rispondere  in modo adeguato all’affermarsi delle aziende specializzate nei farmaci equivalenti. Insieme ad un noto gruppo europeo viene fondata la Ibisqus, dedicata alla commercializzazione in ospedale in UK, Italia e Germania.
									<br><br>
									|Anche nel presente la IBI persegue la vocazione di continuare a rappresentare una moderna e creativa realtà nel panorama farmaceutico nazionale. Non si ferma davanti agli scenari in continuo movimento e neanche di fronte alle nuove tecnologie facendole proprie. In questa prospettiva di sviluppo la IBI si è affiancata al mondo della Nanomedicina che si sta sempre più affermando. Ha rinnovato il proprio Know How ed i laboratori ed è pronta per nuove sfide per offrire strumenti e prodotti in linea con la missione iniziale del suo fondatore “fare per dare” al fine di migliorare la qualità della vita.
							#codice-etico.tab-pane(role='tabpanel')
								h2
									| IBI: Codice Etico
								h3
									| La nostra storia, i nostri valori
								p									
							#quality.tab-pane(role='tabpanel')
								h2
									| IBI: Quality Unit Sistem
								h3
									| La nostra storia, i nostri valori
							#politica.tab-pane(role='tabpanel')
								h2
									| IBI: Politica integrata
								h3
									| La nostra storia, i nostri valori
								p									
									|La IBI agisce affinché l’operatività delle diverse realtà aziendali si svolgano salvaguardando la salute delle persone, la sicurezza delle operazioni e l’ambiente.
									|La Politica Salute, Sicurezza e Ambiente esprime l’impegno della IBI su questi temi.
				include blocks/sidebar
	// Including footer
	include blocks/footer