extend blocks/template

// Page title
block title
	| Ibi Lorenzini

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-carousel
		.slide
		.slide
		.slide
	.hero
		.container
			.row
				.col-sm-3
					.hero-box
						img(src="/img/export-hero-logo.jpg", alt="")
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem soluta tempora, placeat obcaecati porro eligendi officiis, accusantium dolor. Sunt fuga ut quidem recusandae, molestias debitis dignissimos rem. Quaerat, porro accusamus.
						.btn.btn-primary Leggi tutto
				.col-sm-3
					.hero-box
						img(src="/img/export-hero-logo.jpg", alt="")
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima quia sunt ad alias consequatur enim, cumque, tenetur blanditiis perspiciatis ut eligendi molestias! Asperiores, aliquam, nobis. Corrupti temporibus tempore recusandae.
						.btn.btn-primary Leggi tutto
				.col-sm-3
					.hero-box
						img(src="/img/export-hero-logo.jpg", alt="")
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae incidunt assumenda sint rerum optio architecto perspiciatis quaerat, dignissimos esse aperiam eius eligendi dolorum, id minus earum quisquam asperiores. Iste, facilis!
						.btn.btn-primary Leggi tutto
				.col-sm-3
					.hero-box
						img(src="/img/export-hero-logo.jpg", alt="")
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eveniet exercitationem possimus illo provident commodi corporis cumque odit ducimus veniam at quaerat, consectetur voluptate, sequi illum blanditiis ipsum, hic atque!
						.btn.btn-primary Leggi tutto
	section.content
		.container
			.row
				.col-md-8
					h2
						| IBI: 90 anni di esperienza
					h3
						| La nostra storia, i nostri valori

					img.img-responsive(src="/img/home-content-img.jpg")

					p
						|L’Istituto Biochimico italiano, Ibi, fondato nel 1918 dal Prof. Giovanni Lorenzini, vanta una lunga tradizione scientifica che, unita alle nuove tecnologie applicate e ad un’attenta cura nella produzione, fanno della Ibi sinonimo di affidabilità e garanzia di alta qualità. Con i suoi 18.000 mq di impianti ed un nuovo edificio completamente dedicato alla produzione di ß-lattamici,  Ibi offre servizi e tecnologia all’avanguardia che la posizionano tra le prime 10 aziende italiane nella produzione conto terzi. 
						<br><br>
						|Ibi è oggi presente in più di 30 paesi con un’esportazione di tutta la gamma dei suoi prodotti pari ai 2/3 della produzione ed è una delle poche aziende, fuori dal territorio americano, ad aver ottenuto l’approvazione dell’ FDA per produrre penicilline sterili per il mercato statunitense.
						<br><br>
						|Ibi ha sviluppato una nuova strategia di distribuzione negli ospedali affidando la commercializzazione dei prodotti ad una nuova struttura dedicata, Ibisqus, nata da una joint venture oggi presente in UK, Germania ed Italia. Sul mercato italiano...
					.btn.btn-primary Leggi tutto
				include blocks/sidebar
	// Including footer
	include blocks/footer