extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Contatti

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.contatti
		.container
			.main-caption
				h1 Contatti
	section.content.contatti-content
		.container
			.row
				.col-md-12
					.row
						.col-md-8
							.row
								.col-sm-6
									.loghi
										img(src="/img/contatti-italia-export.jpg")
									p
										|Indirizzo e Sede legale:<br>
										|Istituto Biochimico Italiano <br>
										|Giovanni Lorenzini S.p.A. <br>
										|Via Fossignano, 2 <br>
										|04011 Aprilia (LT) Italy
										<br><br>
										|Centralino +39 06 92150 1<br>
										|Fax +39 06 92150 500<br>
										|info@ibi-lorenzini.com<br>
										|P.IVA 02578030153
								.col-sm-6
									.loghi
										img(src="/img/contatti-export.jpg")
									p
										|Export Department<br>
										|Fax +39 06 92150.598<br>
										|export@ibi-lorenzini.com
										<br><br>
										|Contract Manufacturing Services<br>
										|cms@ibi-lorenzini.com
										<br><br>
										|Pharmaceutical Development Services<br>
										|pds@ibi-lorenzini.com
								.col-xs-12
									.borded
								.col-xs-12
									.row
										.col-sm-6
											p
												|Contract Manufacturing Services<br>
												|cms@ibi-lorenzini.com
												<br><br>
												|Pharmaceutical Development Services<br>
												|pds@ibi-lorenzini.com
										.col-sm-6
											p
												|Dipartimento di Farmacovigilanza IBIGEN e IBI<br>
												|Tel. +39 06 92150 395<br>
												|Fax +39 06 92150 573<br>
												|pharmacovigilance@ibi-lorenzini.com<br>
												|pharmacovigilance@ibigen.it
						.col-md-4
							img.img-responsive(src="/img/mappa1.jpg", style="margin-top: 85px;")
				.col-md-12
					.row
						.col-md-8
							.loghi.contatti-ibisqus-logo
								img(src="/img/ibisqus-ospedale-logo.jpg", alt="")
							#accordion.panel-group(role='tablist', aria-multiselectable='true')
								.panel.panel-default
									#headingOne.panel-heading(role='tab')
										h4.panel-title
											a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
												| Sede in Italia
									#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
										.panel-body
											.row
												.col-sm-6
													p
														|Via Fossignano, 2 <br>
														|04011 Aprilia (LT)<br>
														|Italia<br><br>
														|Informazioni commerciali<br>
														|Tel.: +39 06 92 150 1<br>
														|Fax.: +39 06 921 50 430<br>
														|Tel.: +39 345 7166761 (customer service)<br>
														|servizio.clienti@ibisqus.com<br>
														|gare@ibisqus.com<br><br>
														|Trasmissione ordini d’acquisto<br>
														|c/o DHL SUPPLY CHAIN (ITALY) S.p.A.<br>
														|Tel.: +39 06 71308074/75/80/83<br>
														|fax: +39 06 71308077/78<br>
														|ordini.ibisqus@dhl.com<br>
														|ordini@pec-ibisqus.com														
												.col-sm-6
													p
														|Per informazioni medico-scientifiche<br>
														|E-mail: servizioscientifico@ibi-lorenzini.com<br>
														|Fax.: +39 06 92 150 573<br><br>

														|Dipartimento di Farmacovigilanza IBIGEN e IBI<br>
														|Tel.: +39 06 92 150 395<br>
														|Fax.: +39 06 92 150 573<br>
														|E-mail:<br>
														|pharmacovigilance@ibi-lorenzini.com<br>
														|pharmacovigilance@ibigen.it
								.panel.panel-default
									#headingTwo.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
												| Sede in Germania
									#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
										.panel-body
											.row
												.col-sm-6
													p
														|Donnersbergstrasse 6<br>
														|64646 Heppenheim<br>
														|Tel. +49 (0) 6252 - 9428200<br>
														|Fax +49 (0) 6252 – 9428211<br><br>
														|Geschäftsführer<br>
														|Mobil: +49 (0) 151 - 58837855<br>
														|E-mail: fs@ibisqus.com														
												.col-sm-6
													p
														|Customer Service <br>
														|E-mail: j.braun@msk-pharmalogistic.de <br><br>
														|Sales Representative <br>
														|Mobil: +49 (0) 151 - 12442270<br>
														|E-mail: vj@ibisqus.com <br><br>
														|Customer Service <br>
														|E-mail: y.schmitt@msk-pharmalogistic.de
								.panel.panel-default
									#headingThree.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
												| Sede in Inghiterra
									#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
										.panel-body
											p
												|Bowmed Ibisqus Limited<br>
												|The Old Dairy,<br>
												|Brynkinalt Business Centre,<br>
												|Brynkinalt, Chirk, Wrexham, LL14 5NS<br>
												|Tel	+44 (0) 845 6436 703<br>
												|Fax	+44 (0) 700 6053 513<br>
												|www.bowmed.com<br>
												|E-mail: info@bowmed.com 
						.col-md-4
							img.img-responsive(src="/img/mappa1.jpg", style="margin-top: 85px;")
	// Including footer
	include blocks/footer