extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Farmaco Vigilanza

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.farmacovigilanza
		.container
			.main-caption
				h1 Farmacovigilanza
	section.content.farmacovigilanza-content
		.container
			.row
				.col-sm-8
					h2
						| Farmacovigilanza
					h3
						| La sicurezza prima di tutto

					img.img-responsive(src="/img/home-content-img.jpg")

					p
						|Il servizio di Farmacovigilanza all’interno dell’Industria Farmaceutica ha il compito di raccogliere tutte le informazioni sulla sicurezza dei principi attivi dei farmaci di cui è titolare dell’Autorizzazione all’Immissione in Commercio (AIC), per migliorare le modalità d’impiego e ridurre, quando possibile, il rischio di effetti indesiderati.<br>
						|A tal fine il Servizio di Farmacovigilanza raccoglie, valuta e analizza le segnalazioni di reazioni avverse pervenute spontaneamente e fornisce tali informazioni alle Autorità Competenti, in modo tale da fornire informazioni utili alla salvaguardia della salute dei pazienti.
						<br><br>
						|Inoltre il Servizio di Farmacovigilanza assicura che tutte le informazioni relative alla sicurezza dei farmaci siano portate rapidamente a conoscenza del personale sanitario.
					h4 Chi può segnalare?
					p
						|La Farmacovigilanza coinvolge a diversi livelli tutta la comunità: pazienti, proscrittori, operatori sanitari, aziende farmaceutiche, istituzioni ed accademia e la segnalazione può essere effettuata non solo dall’operatore sanitario ma anche dai cittadini.

					h4 Come si effettua la segnalazione spontanea?
					p
						|A partire dal 21 luglio 2012, gli operatori sanitari e/o i cittadini possono  effettuare  segnalazione spontanea di sospetta reazione avversa direttamente ad AIFA, mediante la compilazione della scheda cartacea o della scheda elettronica.
						<br><br>
						|Le modalità di segnalazione sono descritte nel sito internet AIFA (Agenzia Italiana del Farmaco), al seguente link:
						|http://www.agenziafarmaco.gov.it/it/content/modalit%C3%A0-di-segnalazione-delle-sospette-reazioni-avverse-ai-medicinali
						<br><br>
						|In caso di reazioni avverse a prodotti a base di piante officinali e integratori alimentari,  è possibile effettuare una segnalazione di sospetta reazione avversa al seguente link: 
						|http://www.epicentro.iss.it/focus/erbe/fitosorveglianza.asp
					h4 Quando segnalare?
					p
						|Quando si sospetta che il farmaco sia causa dell’effetto indesiderato (anche in caso di dubbio)
						<br><br>
						|Il Servizio di Farmacovigilanza per i prodotti medicinali distribuiti dalla società Ibisqus (concessionario di vendita), viene svolto dai rispettivi Titolari delle AIC (Autorizzazione all’Immissione in Commercio).
				include blocks/sidebar-farmacovigilanza
	// Including footer
	include blocks/footer