extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Ibi Toll Development Manufacturer

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.ibi-manufacturer
		.container
			.main-caption
				h1 Toll Development
	section.content
		.container
			.row
				.col-sm-8
					img(src="/img/ibi-toll-manufacturer-logo.jpg", alt="")
					.tabs.manufactoring-tabs
						// Nav tabs
						ul.nav.nav-tabs(role='tablist')
							li.active(role='presentation')
								a(href='#manufactoring', aria-controls='manufactoring', role='tab', data-toggle='tab') Manufactoring
							li(role='presentation')
								a(href='#development', aria-controls='development', role='tab', data-toggle='tab') Development			
						// Tab panes
						.tab-content
							#manufacturing.tab-pane.active(role='tabpanel')
								p
									|Il sito produttivo di IBI ha una superficie totale di 40.000 mq ed è composto da tre edifici dove vengono eseguite le attività di produzione e di stoccaggio. <br>
									|Il sito produce sia prodotti β-lattamici che prodotti non β-lattamici e la produzione è certificata sia AIFA che FDA.
								p
									|I nostri principali prodotti sono:<br>
									|Prodotti Sterili non β-lattamici (preparati in asepsi e sterilizzati terminalmente);<br>
									|Prodotti non sterili in differenti forme farmaceutiche (solidi, semisolidi e liquidi), con particolare approvazione per la produzione di compresse di ormoni o sostanze ad azione ormonica tranne gli ormoni corticosteroidi e sessuali;<br>
									|Prodotti Sterili β-Lattamici (Penicilline) sia in Bulk che in forma di prodotto semilavorato e finito.
								p
									|Data la natura complessa e diversificata delle sue produzioni IBI fin da sempre ha soddisfatto tutti i requisiti normativi vigenti in base alla prevenzione del rischio di cross-contaminazione β -non β.
								p
									|Altrettanto significativo è l’approccio responsabile con cui gestiamo i nostri impianti e l’attenzione che poniamo all’impatto ambientale e alla ricerca di standard elevati per la sicurezza dei nostri lavoratori. <br>
									|Il riconoscimento di tale attenzione è rappresentato dalle certificazioni ISO 14001 e OHSAS 18001 raggiunte dal nostro sito.<br>
									|La nostra missione è quella di offrire valore aggiunto ai nostri clienti, puntando su fattori critici di successo come la dedizione al cliente, compliance, competitività dei costi, sviluppo delle persone e dell’organizzazione, tecnologia e innovazione.
							#development.tab-pane(role='tabpanel')								
								img.img-responsive(src="/img/grafico-development.jpg")
								p
									b cGMP production of sterile penicillins (API)<br>
									|Ne sitatius excea que vende as explignis exerem renditia estius que aria quae iunt, nat esed quatus invendae nia dis ex expersped ma net, eost que venem que pel ea sam et acerem conet esti volorum quia sime elecus.
									|Ihilit esto dipsam fuga. Itas eum volorae ipsunt eum et dolor audandunt ius enit, il ipsunt lab ium acearci desseque et facea prat.
									|Se voles eos is sitat dunt lab iunt, idunt hicitatis ma nus nullabo rersperio consedi gendell aborum rerferumet ulpa si doluptat.
								p
									b CDMS for orals, topicals, injectables<br>
									|Ne sitatius excea que vende as explignis exerem renditia estius que aria quae iunt, nat esed quatus invendae nia dis ex expersped ma net, eost que venem que pel ea sam et acerem conet esti volorum quia sime elecus.
									|Ihilit esto dipsam fuga. Itas eum volorae ipsunt eum et dolor audandunt ius enit, il ipsunt lab ium acearci desseque et facea prat.
									|Se voles eos is sitat dunt lab iunt, idunt hicitatis ma nus nullabo rersperio consedi gendell aborum rerferumet ulpa si doluptat.
								p
									b GMP production of Rec-proteins (API)<br>
									|Ne sitatius excea que vende as explignis exerem renditia estius que aria quae iunt, nat esed quatus invendae nia dis ex expersped ma net, eost que venem que pel ea sam et acerem conet esti volorum quia sime elecus.
									|Ihilit esto dipsam fuga. Itas eum volorae ipsunt eum et dolor audandunt ius enit, il ipsunt lab ium acearci desseque et facea prat.
									|Se voles eos is sitat dunt lab iunt, idunt hicitatis ma nus nullabo rersperio consedi gendell aborum rerferumet ulpa si doluptat.								
				include blocks/sidebar-manufacturer
	// Including footer
	include blocks/footer