extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Ibi Toll Development Manufacturer

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.ibi-manufacturer
		.container
			.main-caption
				h1 Toll Development
	section.content
		.container
			.row
				.col-sm-8
					img(src="/img/ibi-toll-manufacturer-logo.jpg", alt="")
					.tabs.manufactoring-tabs
						// Nav tabs
						ul.nav.nav-tabs(role='tablist')
							li.active(role='presentation')
								a(href='#manufactoring', aria-controls='manufactoring', role='tab', data-toggle='tab') Manufactoring
							li(role='presentation')
								a(href='#development', aria-controls='development', role='tab', data-toggle='tab') Development			
						// Tab panes
						.tab-content
							#manufacturing.tab-pane.active(role='tabpanel')
								p
									|Il sito produttivo di IBI ha una superficie totale di 40.000 mq ed è composto da tre edifici dove vengono eseguite le attività di produzione e di stoccaggio. <br>
									|Il sito produce sia prodotti β-lattamici che prodotti non β-lattamici e la produzione è certificata sia AIFA che FDA.
								p
									|I nostri principali prodotti sono:<br>
									|Prodotti Sterili non β-lattamici (preparati in asepsi e sterilizzati terminalmente);<br>
									|Prodotti non sterili in differenti forme farmaceutiche (solidi, semisolidi e liquidi), con particolare approvazione per la produzione di compresse di ormoni o sostanze ad azione ormonica tranne gli ormoni corticosteroidi e sessuali;<br>
									|Prodotti Sterili β-Lattamici (Penicilline) sia in Bulk che in forma di prodotto semilavorato e finito.
								p
									|Data la natura complessa e diversificata delle sue produzioni IBI fin da sempre ha soddisfatto tutti i requisiti normativi vigenti in base alla prevenzione del rischio di cross-contaminazione β -non β.
								p
									|Altrettanto significativo è l’approccio responsabile con cui gestiamo i nostri impianti e l’attenzione che poniamo all’impatto ambientale e alla ricerca di standard elevati per la sicurezza dei nostri lavoratori. <br>
									|Il riconoscimento di tale attenzione è rappresentato dalle certificazioni ISO 14001 e OHSAS 18001 raggiunte dal nostro sito.<br>
									|La nostra missione è quella di offrire valore aggiunto ai nostri clienti, puntando su fattori critici di successo come la dedizione al cliente, compliance, competitività dei costi, sviluppo delle persone e dell’organizzazione, tecnologia e innovazione.
							#development.tab-pane(role='tabpanel')								
								img.img-responsive(src="/img/grafico-development.jpg")
								p
									|La IBI opera da diversi anni come Contract Development and Manufacturing Organization (CDMO) grazie ad una struttura organizzativa in grado di seguire, con competenza e professionalità, tutto l’iter di sviluppo per la produzione di un farmaco.
								p
									|Per quanto riguarda la produzione degli APIs, nel reparto di biotecnologia possono essere prodotte proteine ricombinanti da cellule di mammifero. E’ disponibile un impianto GMP, autorizzato da AIFA  nel 2015, alla produzione di principi attivi biotecnologici per studi sperimentali. Le attività coprono tutte le fasi della produzione: dalla clonazione del gene, per ottenere la proteina ricombinante, alla fermentazione, purificazione e caratterizzazione del principio attivo.
								p
									|Grazie all’elevato utilizzo di sistemi disposible, è possibile seguire più progetti contemporaneamente, senza rischi di cross contamination e con  attività di cleaning validation ridotte al minimo.
								p
									|Nella struttura è presente anche un Laboratorio di Sviluppo Tecnologico in grado di sviluppare formulazioni innovative, per tutte le vie di somministrazione, sia per small molecules che per API biotecnologici. Sono disponibili apparecchiature all’avanguardia per lo studio di processi di liofilizzazione, con la possibilità di monitorare nel dettaglio il processo, attraverso software dedicati, garantendo elevate percentuali di successo nelle fasi di scale-up industriale dei processi.
								p
									|Tutte le attività sono costantemente monitorate dal Laboratorio di Sviluppo Analitico, in grado di individuare e validare metodi utilizzabili per il rilascio GMP che  per gli studi di stabilità, non solo delle small molecules ma anche di proteine ed anticorpi. Accanto ai tradizionali HPLC e GC, sono presenti UPLC, DSC, Light Scattering (particle size counter), SDS-PAGE, WESTERN BLOTTING, Capillary electrophoresis, ELISA, Potency biological assay, BioLayer Interferometry.
								p
									|I reparti produttivi sono autorizzati alla produzione anche di farmaci sperimentali, sia orali che iniettabili (soluzioni e liofilizzati). Accanto ad una linea di dosaggio, in grado di produrre sia flaconcini che siringhe pre-riempite (5000 vials/ora), è stata inserita una nuova linea, semiautomatica, dedicata alla produzione di lotti sperimentali di Fase I. 
								p
									|La nostra struttura, grazie ad un Ufficio Regolatorio esperto sia nelle procedure EU, che FDA e PMDA, è in grado di garantire al Cliente un servizio completo, anche per quanto riguarda gli aspetti regolatori, durante tutte le fasi dello sviluppo di un prodotto (dagli studi clinici alla commercializzazione).							
				include blocks/sidebar-manufacturer
	// Including footer
	include blocks/footer