extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Ibi Export

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi è oggi presente in più di 30 Paesi con un’esportazione di tutta la gamma dei suoi prodotti pari ai 2/3 della produzione. Il mercato estero riveste un ruolo molto importante: le esportazioni infatti sono intorno all’80% del fatturato.')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.ibi-export
		.container
			.main-caption
				h1
					span ibi 
					| Export
	section.content
		.container
			.row
				.col-sm-8
					.tabs.ibi-export-tabs
						// Nav tabs
						ul.nav.nav-tabs(role='tablist')
							li.active(role='presentation')
								a(href='#ibi-export', aria-controls='ibi-export', role='tab', data-toggle='tab')
									img(src="/img/ibi-export-logo.jpg", alt="")
							li(role='presentation')
								a(href='#licensing-out', aria-controls='licensing-out', role='tab', data-toggle='tab') Licensing out						
						// Tab panes
						.tab-content
							#ibi-export.tab-pane.active(role='tabpanel')
								a(href="prodotti-export")
									.btn.btn-primary.btn-products
										| Elenco prodotti ibi export
								p
									|Ibi è oggi presente in più di 30 Paesi con un’esportazione di tutta la gamma dei suoi prodotti pari ai 2/3 della produzione.
									|Il mercato estero riveste un ruolo molto importante: le esportazioni infatti sono intorno all’80% del fatturato.<br>
									b IBI è presente in EUROPA, NORD AMERICA, AMERICA CENTRALE, ASIA e OCEANIA.

								img.img-responsive(src="http://placehold.it/750x350")
								
								p
									|Grazie ai continui investimenti per il rinnovo dei reparti produttivi e l’uso di metodiche originali di sintesi brevettate, Ibi mantiene la sua competitività nel panorama internazionale garantendo alti standard qualitativi dei suoi prodotti.<br><br>
									|Ibi produce tutta la gamma delle penicilline sterili con Certificati di Conformità in osservanza alle direttive della Farmacopea Europea. Le produzioni dedicate alle penicilline sterili lavorano in condizioni di current Good Manufacturing Procedures (cGMP) e sono approvate dalle Autorità Sanitarie più esigenti.<br><br>
									|La produzione Ibi è certificata da US FDA (Food and Drug Administration), Australian TGA (Therapeutic Goods Administration), UK MHRA (Medicines and Healthcare products regulatory agency), AIFA (Agenzia Italiana del Farmaco).									
									
							#licensing-out.tab-pane(role='tabpanel')
								h2
									| Available Dossiers
								.row
									.license-box
										.col-sm-3
											span Diospine
										.col-sm-9
											p 450mg tabs
								.row
									.license-box
										.col-sm-3
											span Levofloxacin
										.col-sm-9
											p 5 mg/ml Solution for infusion
								.row
									.license-box
										.col-sm-3
											span Carvedilolo
										.col-sm-9
											p 
												|6,25 mg tabs
												<br>
												|25 mg tabs
								.row
									.license-box
										.col-sm-3
											span Enalapril
										.col-sm-9
											p
												|5 mg tabs
												<br>
												|20 mg tabs
								.row
									.license-box
										.col-sm-3
											span Zolendronic Acid
										.col-sm-9
											p 
												|4 mg Powder and solvent for solution for infusion,
												<br> 
												|1 vial + 1 ampoule (5 ml)
												<br>
												|4 mg/5 ml Concentrate for solution for infusion
								.row
									.license-box
										.col-sm-3
											span Ciprofloxacin
										.col-sm-9
											p 
												|100mg/50 ml solution for infusion
												<br>
												|200mg/100ml  solution for infusion
												<br>
												|400mg/200ml solution for infusion
												<br>
												|250 mg tabs
												<br>
												|500 mg tabs
												<br>
												|750 mg Tabs
								.row
									.license-box
										.col-sm-3
											span Ketoprofen
										.col-sm-9
											p 
												|Oral Granulates 50 mg
												<br>
												|100 mg caps
												<br>
												|200 mg tabs
												<br>
												|Solution for Injection IM, Vials 100mg/2,5ml
												<br>
												|Solution for Injection EV, Vials 100mg/5 ml
												<br>
												|Oral Drops 25 mg/ml
												<br>
												|5% Gel
								.row
									.license-box
										.col-sm-3
											span Iloprost
										.col-sm-9
											p 
												|20 µ /ml vial for infusion
								h2
									| Under Development Dossiers
								.row
									.license-box
										.col-sm-3
											span Voriconazole
										.col-sm-9
											p 
												|200 mg   Powder for solution for infusion (2018)
								.row
									.license-box
										.col-sm-3
											span Daptomicina
										.col-sm-9
											p 
												|350mg Powder for solution for infusion
												<br>
												|500mg Powder for solution for infusion
								.row
									.license-box
										.col-sm-3
											span Teicoplanin
										.col-sm-9
											p 
												|200 mg  Powder for solution
												<br>
												|400 mg  Powder for solution
								.row
									.license-box
										.col-sm-3
											span Tigecycline
										.col-sm-9
											p 
												|50mg vial
								.row
									.license-box
										.col-sm-3
											span Sodium picosulfate / Magnesium oxide/ citric acid
										.col-sm-9
											p 
												|Oral granulate
				include blocks/sidebar
	// Including footer
	include blocks/footer