extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Ibi Italia

// Page meta-description
block append metatags 
	meta(name='description', content='L’Istituto Biochimico Italiano, Ibi, fondato dal Prof. Giovanni Lorenzini, è un’azienda farmaceutica di grande tradizione scientifica presente sul mercato italiano da 90 anni.')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.ibi-italia
		.container
			.main-caption
				h1
					span ibi 
					|Italia
	section.content
		.container
			.row
				.col-sm-8
					img(src="/img/ibi-italia-logo.jpg")
					a.pull-right(href="prodotti-italia")
						.btn.btn-primary.btn-products
							| Elenco prodotti ibi italia
					p
						|	L’Istituto Biochimico Italiano, Ibi, fondato dal Prof. Giovanni Lorenzini, è un’azienda farmaceutica di grande tradizione scientifica presente sul mercato italiano da più di 90 anni, con obiettivi di ricerca, innovazione e produzione. Oltre la tradizione storica aziendale, le nuove tecnologie applicate e un’attenta cura nella produzione, fanno della Ibi sinonimo di affidabilità e garanzia di alta qualità nei paesi in cui l’Azienda è presente.
					p
						|Ibi dedica la propria attività allo sviluppo di nuove applicazioni terapeutiche per offrire soluzioni alternative a medici e pazienti ed è oggi una realtà consolidata in Italia, Europa, Asia, Australia e US. 
					p
						|La sede si trova ad Aprilia dove, oltre allo stabilimento di produzione, sono collocate tutte le funzioni aziendali. 
					p
						b Gastroeneterologia<br>
						|IBI è presente in gastroenterologia con prodotti per la terapia correlata alla patologia addominale, dispepsia, patologia epatica come calcolosi, colelitiasi, colestasi e altre epatopatie croniche come steatosi e steatoepatite, alla cura della sintomatologia gastrointestinale con prodotti per il miglioramento della peristalsi, del meteorismo e della stipsi. 
					p
						b Antibioticoterapia<br>
						|Da numerosi anni IBI è impegnata nella produzione di materie prime farmacologicamente attive e di specialità etiche nel campo dell’antibiotico-terapia. In particolare, IBI è specializzata nella produzione di penicilline sterili iniettabili, che sono esportate in tutto il mondo. La linea antibiotici IBI comprende diversi altri prodotti appartenenti alle classi delle cefalosporine, dei chinoloni, degli aminoglicosidi e dei lincosamidi. Questo settore rappresenta per IBI una tradizione e ne costituisce il core-business. Nell'antibiotico-terapia sono richiesti massimi livelli di qualità e un'attenta scelta del prodotto da utilizzare per non incorrere nella resistenza batterica, che è oggi un serio problema e stimolo ad una costante ricerca. L'alta qualità dei prodotti, confermata dalla certificazione delle MAGGIORI autorità sanitarie mondiali - FDA (Food and Drug Administration), TGA (Therapeutic Good Administration), MCA (Medicine Control Agency) - ha permesso a IBI di diventare partner privilegiato di importanti realtà internazionali. Gli antibiotici fanno parte di una classe di farmaci la cui scoperta ed evoluzione costituisce un contributo di grande valore medico-scientifico per l'umanità. È importante il corretto utilizzo di un antibiotico, che deve essere prescritto e monitorato dal medico, che ne valuta la scelta e reale utilità con i mezzi diagnostici e di monitoraggio a sua disposizione.vi prodotti >
					p
						b Infiammazione e dolore<br>
						|IBI propone, nella terapia della sintomatologia dolorosa e degli stati infiammatori, un prodotto, a base di ketoprofene, largamente testato per efficacia e rapidità d'azione, offrendo un’ampia gamma di formulazioni orali, iniettabili e topiche, per le esigenze dei medici e dei pazienti. 
						|Inoltre, negli stati di fragilità capillare associata all'edema e alla traumatologia minore, IBI mette a disposizione un prodotto a base di ippocastano ben affermato e conosciuto, la cui efficacia è stata oggetto di diversi studi clinici negli ultimi 30 anni specie nella terapia post operatoria dell’edema.	
				include blocks/sidebar
	// Including footer
	include blocks/footer