extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Ibi Toll Development Manufacturer

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.ibi-manufacturer
		.container
			.main-caption
				h1 Toll Development
	section.content
		.container
			.row
				.col-sm-8
					img(src="/img/ibi-toll-manufacturer-logo.jpg", alt="")
					.tabs.manufactoring-tabs
						// Nav tabs
						ul.nav.nav-tabs(role='tablist')
							li.active(role='presentation')
								a(href='#manufactoring', aria-controls='manufactoring', role='tab', data-toggle='tab') Manufactoring
							li(role='presentation')
								a(href='#development', aria-controls='development', role='tab', data-toggle='tab') Development			
						// Tab panes
						.tab-content
							#manufactoring.tab-pane.active(role='tabpanel')
								p
									|Ne sitatius excea que vende as explignis exerem renditia estius que aria quae iunt, nat esed quatus invendae nia dis ex expersped ma net, eost que venem que pel ea sam et acerem conet esti volorum quia sime elecus.
									|Ihilit esto dipsam fuga. Itas eum volorae ipsunt eum et dolor audandunt ius enit, il ipsunt lab ium acearci desseque et facea prat.
									|Se voles eos is sitat dunt lab iunt, idunt hicitatis ma nus nullabo rersperio consedi gendell aborum rerferumet ulpa si doluptat.
									<br><br>
									|Is expe nus por sim volupta sum reici que moluptat aut voluptatus.
									|Ilitass imolor sunt miliqui sciatur? Rumendam, sunt.
									|Duciur moloriat. Natem licias eatum aut omnis essum vel in pro iniminctem. Ab inulpa sandita eptatem porita destion eatet estis ni apitior porruptatium et providis net eum quia dus everiosto endandus voluptat. Evenientia sequam voluptatur sin re voluptibus ipsapitatem nihil idunt apelect atiustrum
							#development.tab-pane(role='tabpanel')								
								img.img-responsive(src="/img/grafico-development.jpg")
								p
									b cGMP production of sterile penicillins (API)<br>
									|Ne sitatius excea que vende as explignis exerem renditia estius que aria quae iunt, nat esed quatus invendae nia dis ex expersped ma net, eost que venem que pel ea sam et acerem conet esti volorum quia sime elecus.
									|Ihilit esto dipsam fuga. Itas eum volorae ipsunt eum et dolor audandunt ius enit, il ipsunt lab ium acearci desseque et facea prat.
									|Se voles eos is sitat dunt lab iunt, idunt hicitatis ma nus nullabo rersperio consedi gendell aborum rerferumet ulpa si doluptat.
								p
									b CDMS for orals, topicals, injectables<br>
									|Ne sitatius excea que vende as explignis exerem renditia estius que aria quae iunt, nat esed quatus invendae nia dis ex expersped ma net, eost que venem que pel ea sam et acerem conet esti volorum quia sime elecus.
									|Ihilit esto dipsam fuga. Itas eum volorae ipsunt eum et dolor audandunt ius enit, il ipsunt lab ium acearci desseque et facea prat.
									|Se voles eos is sitat dunt lab iunt, idunt hicitatis ma nus nullabo rersperio consedi gendell aborum rerferumet ulpa si doluptat.
								p
									b GMP production of Rec-proteins (API)<br>
									|Ne sitatius excea que vende as explignis exerem renditia estius que aria quae iunt, nat esed quatus invendae nia dis ex expersped ma net, eost que venem que pel ea sam et acerem conet esti volorum quia sime elecus.
									|Ihilit esto dipsam fuga. Itas eum volorae ipsunt eum et dolor audandunt ius enit, il ipsunt lab ium acearci desseque et facea prat.
									|Se voles eos is sitat dunt lab iunt, idunt hicitatis ma nus nullabo rersperio consedi gendell aborum rerferumet ulpa si doluptat.								
				include blocks/sidebar
	// Including footer
	include blocks/footer