extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Ibisqus Ospedale

// Page meta-description
block append metatags 
	meta(name='description', content='A quasi 90 anni dalla data della sua fondazione l’Istituto Biochimico IItaliano si sta dirigendo verso una strategia di crescita e rinnovamento, con l’obiettivo di competere a livello internazionale.')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.ibisqus-ospedale
		.container
			.main-caption
				h1 Ibisqus ospedale
	section.content
		.container
			.row
				.col-sm-8
					img(src="/img/ibisqus-ospedale-logo.jpg", alt="")
					a.pull-right(href="prodotti-ibisqus")
						.btn.btn-primary.btn-products
							| Elenco prodotti ibisqus ospedale
					p
						|A quasi 100 anni dalla data della sua fondazione l’Istituto Biochimico Italiano ha intrapreso una strategia di crescita e di rinnovamento con l’obiettivo di competere a livello internazionale.
					p
						|La prima azienda del gruppo IBI, la IBIGEN, grazie alla joint venture con un gruppo internazionale, ha dato vita nel 2007 ad una nuova realtà chiamata IBISQUS presente in UK, Germania ed Italia.
					p
						|IBISQUS Italia in modo snello ed efficiente, commercializza 23 principi attivi per un totale di 58 diversi farmaci generici, di titolarità A.I.C. della Ibi, della Ibigen e di altre Aziende esterne al gruppo, in tutte le Strutture Sanitarie Nazionali a carattere sia Pubblico che Privato.
						|La profonda conoscenza del Canale Ospedaliero italiano e dei suoi intrinsechi fabbisogni, tramite la consolidata Forza Vendite Esterna, integrata dalla catena produttiva e dalla gestione back office delle vendite consentono di ottimizzare il servizio di distribuzione capillare su tutto territorio.
					p
						|Le competenze professionali, la collaborazione ad ogni livello e l’eticità sono i valori fondamentali dello spirito del Gruppo che permettono di rispondere alle sfide interne ed esterne in modo rapido ed efficiente.								
				include blocks/sidebar
	// Including footer
	include blocks/footer