extend blocks/template

// Page title
block title
	| Ibi Lorenzini

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-carousel
		.slide.slide1
			.container.caption-container
				.caption
					h3 Ibi: 90 anni di esperienza
					span Affidabilità di garanzia e alta qualità
		.slide.slide2
			.container.caption-container
				.caption
					h3 Ricerca e innovazione
					span All'avanguardia nella nanomedicina
	.hero
		.container
			.row
				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					.hero-box
						img.img-responsive(src="/img/ibi-export-logo.jpg", alt="")
						p
							| Ibi è oggi presente in più di 30 Paesi con un’esportazione di tutta la gamma dei suoi prodotti pari ai 2/3 della produzione. Il mercato estero riveste un ruolo molto importante: le esportazioni infatti sono intorno all’80% del fatturato.
						a(href="ibi-export")
							.btn.btn-primary Leggi tutto
				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					.hero-box
						img.img-responsive(src="/img/ibisqus-ospedale-logo.jpg", alt="")
						p
							| A quasi 100 anni dalla data della sua fondazione l’Istituto Biochimico Italiano ha intrapreso una strategia di crescita e di rinnovamento con l’obiettivo di competere a livello internazionale.
						a(href="ibisqus-ospedale")
							.btn.btn-primary Leggi tutto
				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					.hero-box
						img.img-responsive(src="/img/ibi-italia-logo.jpg", alt="")
						p
							|L’Istituto Biochimico Italiano, Ibi, fondato dal Prof. Giovanni Lorenzini, è un’azienda farmaceutica di grande tradizione scientifica presente sul mercato italiano da più di 90 anni, con obiettivi di ricerca, innovazione e produzione.
						a(href="ibi-italia")
							.btn.btn-primary Leggi tutto
				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					.hero-box
						img.img-responsive(src="/img/ibi-toll-manufacturer-logo.jpg", alt="")
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eveniet exercitationem possimus illo provident commodi corporis cumque odit ducimus veniam at quaerat, consectetur voluptate, sequi illum blanditiis ipsum, hic atque!
						a(href="ibi-toll-manufacturer")
							.btn.btn-primary Leggi tutto
	section.content
		.container
			.row
				.col-md-8
					h2
						| IBI: 90 anni di esperienza
					h3
						| La nostra storia, i nostri valori

					img.img-responsive(src="/img/home-content-img.jpg")

					p
						|L’Istituto Biochimico Italiano, Ibi, fondato dal Prof. Giovanni Lorenzini, è un’azienda farmaceutica di grande tradizione scientifica presente sul mercato italiano da più di 90 anni, con obiettivi di ricerca, innovazione e produzione. Oltre la tradizione storica aziendale, le nuove tecnologie applicate e un’attenta cura nella produzione, fanno della Ibi sinonimo di affidabilità e garanzia di alta qualità nei paesi in cui l’Azienda è presente.
					p
						|Ibi dedica la propria attività allo sviluppo di nuove applicazioni terapeutiche per offrire soluzioni alternative a medici e pazienti ed è oggi una realtà consolidata in Italia, Europa, Asia, Australia e US.
					p
						|La sede si trova ad Aprilia dove, oltre allo stabilimento di produzione, sono collocate tutte le funzioni aziendali. La produzione e il controllo qualità sono il core business dell’Azienda, a cui si affiancano Ricerca e Sviluppo, Farmacovigilanza...
					a(href="chi-siamo")
						.btn.btn-primary Leggi tutto					
				include blocks/sidebar
	// Including footer
	include blocks/footer