extend blocks/template

// Page title
block title
	| Ibi Lorenzini

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content	
	// Including footer
	include blocks/footer
	