extend blocks/template

// Page title
block title
	| Ibi Lorenzini

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-carousel
		.slide
		.slide
		.slide
	.hero
		.container
			.row
				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					.hero-box
						img.img-responsive(src="/img/ibi-export-logo.jpg", alt="")
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem soluta tempora, placeat obcaecati porro eligendi officiis, accusantium dolor. Sunt fuga ut quidem recusandae, molestias debitis dignissimos rem. Quaerat, porro accusamus.
						a(href="ibi-export")
							.btn.btn-primary Leggi tutto
				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					.hero-box
						img.img-responsive(src="/img/ibisqus-ospedale-logo.jpg", alt="")
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque minima quia sunt ad alias consequatur enim, cumque, tenetur blanditiis perspiciatis ut eligendi molestias! Asperiores, aliquam, nobis. Corrupti temporibus tempore recusandae.
						a(href="ibisqus-ospedale")
							.btn.btn-primary Leggi tutto
				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					.hero-box
						img.img-responsive(src="/img/ibi-italia-logo.jpg", alt="")
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae incidunt assumenda sint rerum optio architecto perspiciatis quaerat, dignissimos esse aperiam eius eligendi dolorum, id minus earum quisquam asperiores. Iste, facilis!
						a(href="ibi-italia")
							.btn.btn-primary Leggi tutto
				.col-lg-3.col-md-6.col-sm-6.col-xs-12
					.hero-box
						img.img-responsive(src="/img/ibi-toll-manufacturer-logo.jpg", alt="")
						p
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eveniet exercitationem possimus illo provident commodi corporis cumque odit ducimus veniam at quaerat, consectetur voluptate, sequi illum blanditiis ipsum, hic atque!
						a(href="ibi-toll-manufacturer")
							.btn.btn-primary Leggi tutto
	section.content
		.container
			.row
				.col-md-8
					h2
						| IBI: 90 anni di esperienza
					h3
						| La nostra storia, i nostri valori

					img.img-responsive(src="/img/home-content-img.jpg")

					p
						|L’Istituto Biochimico Italiano, Ibi, fondato dal Prof. Giovanni Lorenzini, è un’azienda farmaceutica di grande tradizione scientifica presente sul mercato italiano da più di 90 anni, con obiettivi di ricerca, innovazione e produzione. Oltre la tradizione storica aziendale, le nuove tecnologie applicate e un’attenta cura nella produzione, fanno della Ibi sinonimo di affidabilità e garanzia di alta qualità nei paesi in cui l’Azienda è presente.
					p
						|Ibi dedica la propria attività allo sviluppo di nuove applicazioni terapeutiche per offrire soluzioni alternative a medici e pazienti ed è oggi una realtà consolidata in Italia, Europa, Asia, Australia e US.
					p
						|La sede si trova ad Aprilia dove, oltre allo stabilimento di produzione, sono collocate tutte le funzioni aziendali. La produzione e il controllo qualità sono il core business dell’Azienda, a cui si affiancano Ricerca e Sviluppo, Farmacovigilanza...
					a(href="chi-siamo")
						.btn.btn-primary Leggi tutto
				include blocks/sidebar
	// Including footer
	include blocks/footer