extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Privacy Policy

// Page meta-description
block append metatags 
	meta(name='description', content='')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.privacy-policy
		.container
			.main-caption
				h1 Privacy Policy
	section.content
		.container
			.row
				.col-md-8
					h2
						| Privacy Policy
					p
						|L’Istituto Biochimico Italiano Giovanni Lorenzini S.p.A. (in seguito I.B.I.), tramite il sito www.ibi-lorenzini.it ha come obiettivo la tutela della privacy dei propri utenti e garantisce che il trattamento dei dati personali si svolga nel rispetto dei diritti, delle libertà fondamentali nonché della dignità delle persone, con particolare riferimento alla riservatezza e all'identità personale. Nel prestare i nostri servizi, entreremo necessariamente in possesso di informazioni e dati personali: intendiamo, perciò, qui di seguito, illustrare la policy privacy del nostro sito. 
						|Il Titolare del trattamento
						|Il Titolare del trattamento dei dati personali trattati a seguito della consultazione del nostro sito, è I.B.I. S.p.A., con sede in Via Fossignano n°2 Aprilia (LT).
					p
						b Il Responsabile del trattamento	<br>		
						|Il Responsabile del trattamento è il Direttore del Personale, domiciliato per la funzione in Via Fossignano n. 2, Aprilia (LT) e l’elenco aggiornato degli altri responsabili può essere visionato presso lo stesso.
					p
						b Luogo e finalità di trattamento dei dati<br>
						|I trattamenti connessi ai servizi web di questo sito hanno luogo presso la predetta sede della Società e sono curati solo da dipendenti e collaboratori da I.B.I. S.p.A. incaricati del trattamento e da eventuali incaricati di occasionali operazioni di manutenzione. 
						|L'invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell'indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva. 
						|Sintetiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del sito predisposte per particolari servizi.
					p
						b Comunicazione dei dati<br>
						|I dati forniti dagli utenti non saranno comunicati a soggetti terzi salvo che la comunicazione sia imposta da obblighi di legge o sia strettamente necessario per l’adempimento delle richieste.
						|Gli incaricati del trattamento che si occupano della gestione delle richieste, potranno venire a conoscenza dei suoi dati personali esclusivamente per le finalità su menzionate.
					p
						b Tipi di dati trattati<br>
						|Dati forniti volontariamente dagli utenti
						|L’invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell’indirizzo del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva.
						|Sintetiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del sito predisposte per particolari servizi.
					p
						b	Cookies<br>
						|Per cookies si intende un elemento testuale che viene inserito nel disco fisso di un computer solo in seguito ad autorizzazione. I cookies hanno la funzione di snellire l’analisi del traffico su web o di segnalare quando un sito specifico viene visitato e consentono alle applicazioni web di inviare informazioni a singoli utenti.
						|Nessun dato degli utenti viene in proposito acquisito dal sito.
						|Non viene fatto uso di cookies per la trasmissione di informazioni di carattere personale, né vengono utilizzati c.d. cookies persistenti di alcun tipo, ovvero sistemi per il tracciamento degli utenti.
					p
						b	Facoltatività del conferimento dei dati<br>
						|A parte quanto specificato per i dati di navigazione, l’utente è libero di fornire i dati personali per richiedere i servizi offerti dalla società. Il loro mancato conferimento può comportare l’impossibilità di ottenere il servizio richiesto.
					p
						b Modalità di trattamento dei dati<br>
						|I dati personali sono trattati con strumenti manuali e automatizzati, per il tempo necessario a conseguire lo scopo per il quale sono stati raccolti.
						|I dati personali oggetto di trattamento saranno custoditi in modo da ridurre al minimo, mediante l'adozione di idonee e preventive misure di sicurezza, i rischi di distruzione o perdita, anche accidentale, dei dati stessi, di accesso non autorizzato o di trattamento non consentito o non conforme alle finalità della raccolta
					p
						b	Diritti degli interessati<br>
						|I soggetti cui si riferiscono i dati hanno i diritti previsti dall’art. 7 del Codice privacy che riportiamo di seguito:<br>
						|1. L'interessato ha diritto di ottenere la conferma dell'esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile.<br>
						|2. L'interessato ha diritto di ottenere:<br>
						|a) dell'origine dei dati personali;<br>
						|b) delle finalità e modalità del trattamento;<br>
						|c) della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti elettronici;<br>
						|d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell'articolo 5, comma 2;<br>
						|e) dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati.<br>
						|3. L'interessato ha diritto di ottenere:<br>
						|a) l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei dati;<br>
						|b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;<br>
						|c) l'attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.<br>
						|4. L'interessato ha diritto di opporsi, in tutto o in parte:<br>
						|a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorchè pertinenti allo scopo della raccolta;<br>
						|b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.
				include blocks/sidebar
	// Including footer
	include blocks/footer