extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Prodotti Ibi Export

// Page meta-description
block append metatags 
	meta(name='description', content='Prodotti')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.prodotti
		.container
			.main-caption
				h1
					|Prodotti
	section.content.products-content
		.container
			.row
				include blocks/products-filter-export		
				.col-md-9
					.row.filtri
						.col-sm-4.no-pad
							.filtri-img.active
								a(href="prodotti-export")
									img.img-responsive(src="/img/ibi-export-logo.jpg", alt="")
						.col-sm-4.no-pad
							.filtri-img
								a(href="prodotti-ibisqus")
									img.img-responsive(src="/img/ibisqus-ospedale-logo.jpg", alt="")
						.col-sm-4.no-pad
							.filtri-img
								a(href="prodotti-italia")
									img.img-responsive(src="/img/ibi-italia-logo.jpg", alt="")
					.intro
						p
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					#prodotti-container.row.prodotti-export
						.col-lg-6.col-md-12.mix
							.product
								.product-title 
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li
										h5 Foglietto illustrativo
										i.fa.fa-download
									li
										h5 Scheda tecnica
										i.fa.fa-download
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Validità mesi
									li
										h5 Unità	
						.col-lg-6.col-md-12.mix
							.product
								.product-title 
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li
										h5 Foglietto illustrativo
										i.fa.fa-download
									li
										h5 Scheda tecnica
										i.fa.fa-download
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Validità mesi
									li
										h5 Unità
						.col-lg-6.col-md-12.mix
							.product
								.product-title 
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li
										h5 Foglietto illustrativo
										i.fa.fa-download
									li
										h5 Scheda tecnica
										i.fa.fa-download
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Validità mesi
									li
										h5 Unità	
						.col-lg-6.col-md-12.mix
							.product
								.product-title 
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li
										h5 Foglietto illustrativo
										i.fa.fa-download
									li
										h5 Scheda tecnica
										i.fa.fa-download
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Validità mesi
									li
										h5 Unità	
						.col-lg-6.col-md-12.mix
							.product
								.product-title 
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li
										h5 Foglietto illustrativo
										i.fa.fa-download
									li
										h5 Scheda tecnica
										i.fa.fa-download
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Validità mesi
									li
										h5 Unità	
						.col-lg-6.col-md-12.mix
							.product
								.product-title 
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li
										h5 Foglietto illustrativo										
									li
										h5 Scheda tecnica
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Validità mesi
									li
										h5 Unità	
						.col-lg-6.col-md-12.mix
							.product
								.product-title 
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li
										h5 Foglietto illustrativo										
									li
										h5 Scheda tecnica
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Validità mesi
									li
										h5 Unità	
						.col-lg-6.col-md-12.mix
							.product
								.product-title 
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li
										h5 Foglietto illustrativo										
									li
										h5 Scheda tecnica
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Validità mesi
									li
										h5 Unità														
	// Including footer
	include blocks/footer