extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Prodotti

// Page meta-description
block append metatags 
	meta(name='description', content='Prodotti')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.prodotti
		.container
			.main-caption
				h1
					|Prodotti
	section.content.products-content
		.container
			.row
				include blocks/products-filter-italia
				.col-md-9
					.row.filtri
						.col-sm-4.no-pad
							.filtri-img
								a(href="prodotti-export")
									img.img-responsive(src="/img/ibi-export-logo.jpg", alt="")
						.col-sm-4.no-pad
							.filtri-img
								a(href="prodotti-ibisqus")
									img.img-responsive(src="/img/ibisqus-ospedale-logo.jpg", alt="")
						.col-sm-4.no-pad
							.filtri-img.active
								a(href="prodotti-italia")
									img.img-responsive(src="/img/ibi-italia-logo.jpg", alt="")
					.intro
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					#prodotti-container.row.prodotti-italia
						.col-lg-6.col-md-12.mix
							.product
								.product-title
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								.formulazione
									h5 Formulazione
									span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro									
									li
										h5 Foglietto illustrativo
										i.fa.fa-download
									li
										h5 Scheda tecnica
										i.fa.fa-download
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Regime di dispensazione		
									li
										h5 Validità mesi									
									li
										h5 GASTROENTEROLOGIA				
						.col-lg-6.col-md-12.mix
							.product
								.product-title
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								.formulazione
									h5 Formulazione
									span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro									
									li
										h5 Foglietto illustrativo
										i.fa.fa-download
									li
										h5 Scheda tecnica
										i.fa.fa-download
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Regime di dispensazione		
									li
										h5 Validità mesi									
									li
										h5 GASTROENTEROLOGIA				
						.col-lg-6.col-md-12.mix
							.product
								.product-title
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								.formulazione
									h5 Formulazione
									span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro									
									li
										h5 Foglietto illustrativo
										i.fa.fa-download
									li
										h5 Scheda tecnica
										i.fa.fa-download
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Regime di dispensazione		
									li
										h5 Validità mesi									
									li
										h5 GASTROENTEROLOGIA								
						.col-lg-6.col-md-12.mix
							.product
								.product-title
									h2 Acido zoledronico ibigen liofilizzato
									.plus-minus
								.formulazione
									h5 Formulazione
									span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
								ul.product-content
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro									
									li
										h5 Foglietto illustrativo
										i(data-toggle="tooltip" data-placement="top" title="Tooltip on top").fa.fa-download
									li
										h5 Scheda tecnica
										i(data-toggle="tooltip" data-placement="top" title="Tooltip on top").fa.fa-download
									li
										h5 AIC
									li
										h5 ATC
									li
										h5 Fascia
									li
										h5 Regime di dispensazione		
									li
										h5 Validità mesi									
									li
										h5 GASTROENTEROLOGIA				
	// Including footer
	include blocks/footer