extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Prodotti

// Page meta-description
block append metatags 
	meta(name='description', content='Prodotti')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.prodotti
		.container
			.main-caption
				h1
					|Prodotti
	section.content.products-content
		.container
			.row
				include blocks/products-filter			
				.col-sm-9
					.row
						.col-sm-4
							.filter(data-filter='.category-1')
								img.img-responsive(src="/img/ibi-export-logo.jpg", alt="")
						.col-sm-4
							.filter(data-filter='.category-2')
								img.img-responsive(src="/img/ibisqus-ospedale-logo.jpg", alt="")
						.col-sm-4
							.filter(data-filter='.category-3')
								img.img-responsive(src="/img/ibi-italia-logo.jpg", alt="")					
					#Container.row
						.col-md-6.mix.category-1
							.product
								h2.product-title Acido zoledronico ibigen liofilizzato
								ul
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li.more
										h5 Foglietto illustrativo										
									li.more
										h5 Scheda tecnica
									li.more
										h5 Aic
									li.more
										h5 Atc
									li.more
										h5 Fascia
									li.more
										h5 Validità mesi
									li
										h5 Italia
										a.read-more(href="#") Vedi tutto
						.col-md-6.mix.category-2
							.product
								h2.product-title Acido zoledronico ibigen liofilizzato
								ul
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li.more
										h5 Foglietto illustrativo										
									li.more
										h5 Scheda tecnica
									li.more
										h5 Aic
									li.more
										h5 Atc
									li.more
										h5 Fascia
									li.more
										h5 Validità mesi
									li
										h5 Italia
										a.read-more(href="#") Vedi tutto
						.col-md-6.mix.category-3
							.product
								h2.product-title Acido zoledronico ibigen liofilizzato
								ul
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li.more
										h5 Foglietto illustrativo										
									li.more
										h5 Scheda tecnica
									li.more
										h5 Aic
									li.more
										h5 Atc
									li.more
										h5 Fascia
									li.more
										h5 Validità mesi
									li
										h5 Italia
										a.read-more(href="#") Vedi tutto
						.col-md-6.mix.category-1
							.product
								h2.product-title Acido zoledronico ibigen liofilizzato
								ul
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li.more
										h5 Foglietto illustrativo										
									li.more
										h5 Scheda tecnica
									li.more
										h5 Aic
									li.more
										h5 Atc
									li.more
										h5 Fascia
									li.more
										h5 Validità mesi
									li
										h5 Italia
										a.read-more(href="#") Vedi tutto
						.col-md-6.mix.category-2
							.product
								h2.product-title Acido zoledronico ibigen liofilizzato
								ul
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li.more
										h5 Foglietto illustrativo										
									li.more
										h5 Scheda tecnica
									li.more
										h5 Aic
									li.more
										h5 Atc
									li.more
										h5 Fascia
									li.more
										h5 Validità mesi
									li
										h5 Italia
										a.read-more(href="#") Vedi tutto
						.col-md-6.mix.category-3
							.product
								h2.product-title Acido zoledronico ibigen liofilizzato
								ul
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li.more
										h5 Foglietto illustrativo										
									li.more
										h5 Scheda tecnica
									li.more
										h5 Aic
									li.more
										h5 Atc
									li.more
										h5 Fascia
									li.more
										h5 Validità mesi
									li
										h5 Italia
										a.read-more(href="#") Vedi tutto
						.col-md-6.mix.category-1
							.product
								h2.product-title Acido zoledronico ibigen liofilizzato
								ul
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li.more
										h5 Foglietto illustrativo										
									li.more
										h5 Scheda tecnica
									li.more
										h5 Aic
									li.more
										h5 Atc
									li.more
										h5 Fascia
									li.more
										h5 Validità mesi
									li
										h5 Italia
										a.read-more(href="#") Vedi tutto
						.col-md-6.mix.category-2
							.product
								h2.product-title Acido zoledronico ibigen liofilizzato
								ul
									li
										h5 Principio attivo
										span Acido Zoledronico - Anidro
									li
										h5 Formulazione
										span 750 mg IM/EV 1 flac. da 20 ml + solv. 1,6 ml
									li.more
										h5 Foglietto illustrativo										
									li.more
										h5 Scheda tecnica
									li.more
										h5 Aic
									li.more
										h5 Atc
									li.more
										h5 Fascia
									li.more
										h5 Validità mesi
									li
										h5 Italia
										a.read-more(href="#") Vedi tutto	
	// Including footer
	include blocks/footer