extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Ricerca e Innovazione

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.ricerca-innovazione
		.container
			.main-caption
				h1 Ricerca e innovazione
	section.content
		.container
			.row
				.col-sm-8					
					.tabs.ricerca-tabs
						// Nav tabs
						ul.nav.nav-tabs(role='tablist')
							li(role='presentation')
								a(href='#innovativi', aria-controls='innovativi', role='tab', data-toggle='tab') Delivery innovativi
							li(role='presentation')
								a(href='#biotecnologie', aria-controls='biotecnologie', role='tab', data-toggle='tab') Biotecnologie	
							li.active(role='presentation')
								a(href='#pubblicazioni', aria-controls='pubblicazioni', role='tab', data-toggle='tab') Pubblicazioni	
							li(role='presentation')
								a(href='#progetti', aria-controls='progetti', role='tab', data-toggle='tab') Progetti			
						// Tab panes
						.tab-content
							#innovativi.tab-pane(role='tabpanel')
								p
									|Ne sitatius excea que vende as explignis exerem renditia estius que aria quae iunt, nat esed quatus invendae nia dis ex expersped ma net, eost que venem que pel ea sam et acerem conet esti volorum quia sime elecus.
									|Ihilit esto dipsam fuga. Itas eum volorae ipsunt eum et dolor audandunt ius enit, il ipsunt lab ium acearci desseque et facea prat.
									|Se voles eos is sitat dunt lab iunt, idunt hicitatis ma nus nullabo rersperio consedi gendell aborum rerferumet ulpa si doluptat.									
							#biotecnologie.tab-pane(role='tabpanel')
								p
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat nulla, inventore hic voluptatem distinctio asperiores. Numquam maxime id, voluptate rem quisquam voluptates. Consequuntur quo voluptatem asperiores qui. Aperiam, ducimus.		
							#pubblicazioni.tab-pane.active(role='tabpanel')
								h3 Pubblicazioni
								ul
									li Pubblicazioni
									li Pubblicazioni
									li Pubblicazioni
									li Pubblicazioni
									li Pubblicazioni
								h3 Poster
								ul
									li Poster
									li Poster
									li Poster
									li Poster
									li Poster
								h3 Domande di brevetti
								ul
									li Domande di brevetti
									li Domande di brevetti
									li Domande di brevetti
									li Domande di brevetti
									li Domande di brevetti
							#progetti.tab-pane(role='tabpanel')
								p
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat nulla, inventore hic voluptatem distinctio asperiores. Numquam maxime id, voluptate rem quisquam voluptates. Consequuntur quo voluptatem asperiores qui. Aperiam, ducimus.
				include blocks/sidebar
	// Including footer
	include blocks/footer