extend blocks/template

// Page title
block title
	| Ibi Lorenzini | Ricerca e Innovazione

// Page meta-description
block append metatags 
	meta(name='description', content='Ibi Lorenzini')

block content	
	// Including header
	include blocks/header
	// Page content 
	.main-header.ricerca-innovazione
		.container
			.main-caption
				h1 Ricerca e innovazione
	section.content.ricerca-content
		.container
			.row
				.col-sm-8					
					.tabs.ricerca-tabs
						// Nav tabs
						ul.nav.nav-tabs(role='tablist')
							li.active(role='presentation')
								a(href='#innovativi', aria-controls='innovativi', role='tab', data-toggle='tab') Delivery innovativi
							li(role='presentation')
								a(href='#biotecnologie', aria-controls='biotecnologie', role='tab', data-toggle='tab') Biotecnologie	
							li(role='presentation')
								a(href='#pubblicazioni', aria-controls='pubblicazioni', role='tab', data-toggle='tab') Pubblicazioni	
							li(role='presentation')
								a(href='#progetti', aria-controls='progetti', role='tab', data-toggle='tab') Progetti			
						// Tab panes
						.tab-content
							#innovativi.tab-pane.active(role='tabpanel')
								h3 Sviluppo formulativo
								p
									|IBI possiede un consolidato know how nello sviluppo formulativo e nella produzione GMP su scala Pilota e industriale di diverse forme farmaceutiche:

								b Forme solide orali:
								ul
									li Bustine
									li Compresse
									li Capsule
									li Soluzioni e sospensioni orali
								i Equipment:
								ul.divider
									li Granulazione a Letto fluido fino a 100 kg /lotto
									li Granulazione a umido	fino a 500 kg/lotto
									li Comprimitrice fino a 80.000 cpr/h
									li Opercolatrice per capsule	fino a 45.000 cps/h
									li Bassina per rivestimento compresse
									li Macchina di riempimento liquidi


								
								b Formulazioni Topiche
								ul.divider
									li Gel, Pomate fino a 3500 tubi/h

								b Formulazioni iniettabili:
								p
									|La produzione di formulazioni per uso iniettabile rappresenta un business ormai consolidato e strategico per l’azienda, con un reparto multipourpose specificamente dedicato a questa categoria formulativa, operante con aree e strumentazioni classificate nella piena compliance delle c-GMP.
								p
									|Il reparto è autorizzato per la produzione di lotti commerciali e per Investigational Medicinal Products, sia per produzioni interne che per attività di custom manufacturing.
								p
									| Forme terapeutiche
								ul
									li Polveri liofilizzate in vial per preparazioni iniettabili
									li Liquidi per uso iniettabile in vial
									li Liquidi per uso iniettabile in fiala siringa
								i Equipment:
								ul
									li 
										|Macchina di dosaggio in Classe A con sistema di contenimento c-RABS per il riempimento di Vials e fiale siringa e per la produzione in asepsi mediante filtrazione sterilizzante su filtri da 0.22 micron, fino a 7000 pezzi/ora.<br><br>
										|La macchina è alimentata da reattori di dissoluzione in acciaio, termostatabili e inertizzabili, da 20 a 400 L posizionati in area classificata (C) per il compounding delle formulazioni. Possono essere gestiti anche sistemi di preparazione disposable per ridurre possibilità di cross-contamination e minimizzare attività di cleaning.<br><br>
										|Sono macchinabili formati di vials da 2 a 100 ml e Fiale Siringhe da 0.5 a 10 ml. E’ possibile comunque ”customizzare” il dosaggio con formati diversi in funzione di eventuali richieste specifiche.
									li 
										|Liostato con superficie da 4 mq e sistema di raffredamento a doppio stadio, per la produzione di polveri per soluzioni iniettabili in vials con formato da 2 ml (fino a 10000 vial/lotto) a 25 ml (fino a 2500 vials/lotto)
									li 
										|Il reparto è dotato inoltre di una Macchina di dosaggio appositamente dedicata e autorizzata per filling di vials destinati allla sperimentazione clinica (Fase I e II). Tale macchina può gestire in GMP lotti anche estremamente ridotti (da 100-1000 pezzi), ove il valore aggiunto e la disponibilità degli API costituiscono un limite critico per le attività di convalida.
									li 
										|Autoclave per sterilizzazione terminale di formulazioni termostabili.
								p
									|Forte di un Reparto di Sviluppo estremamente flessibile e tecnologicamente all’avanguardia, IBI è particolarmente concentrata sullo sviluppo di formulazioni ad elevato valore aggiunto ed altamente innovative, quali ad esempio i prodotti biotecnologici (proteine, peptidi, anticorpi) e formulazioni che si basano sull’uso di sistemi nano e microparticellare per l’inglobamento e il delivery di farmaci di diversa natura.<br><br>
									|IBI ha altresì una consolidata esperienza nello sviluppo e ottimizzazione di processi di liofilizzazione, tecnologia di elezione per questa classe di prodotti finiti. Inoltre un’area del Reparto di produzione sterile è specificatamente dedicata alla preparazione di formulazioni nano e microparticellari, principalmente a base di polimeri biocompatibili o lipidici, con Equipment capaci di gestire sistemi eterogenei Acqua/Solvente fino ad un volume di 100 L.<br><br>
									|In accordo con le più recenti linee guida e con le più moderne metodologie di sviluppo, i Laboratori R&D di IBI adottano il “Quality by Design” per l’ottimizzazione dei processi produttivi, per la caratterizzazione dei parametri critici e per supportare la documentazione prodotta ai fini della presentazione di dossier alle Autorità Regolatorie. Tale approccio si concretizza con l’applicazione delle tecniche di D.O.E., con la trattazione statistica dei dati raccolti con Software specifici, e con l’attuazione di un Risk Management nella fase di scale up e industrializzazione dei processi sviluppati in laboratorio.<br><br>
									|L’iter di sviluppo formulativo è supportato da una dotazione di strumentazione analitica moderna ed efficiente quale:
								ul
									li HPLC/UPLC
									li GC
									li UV-VIS
									li Titolazione potenziometrica/Coulometrica
									li Osmometria
									li DSC
									li Particle Size e Zeta potential analyzer mediante Light Scattering
									li Elettroforesi Capillare
									li Western Blotting								
							#biotecnologie.tab-pane(role='tabpanel')
								#accordion.panel-group(role='tablist', aria-multiselectable='true')
									.panel.panel-default
										a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
											#headingOne.panel-heading(role='tab')
												h4.panel-title												
													| About
												.plus-minus.minus							
										#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
											.panel-body																															
												|The Biotech Dept. at IBI-Lorenzini is committed to the production of recombinant proteins from CHO cells. 
												|In 2015 we have received the GMP authorization from the Italian Regulatory Agency (AIFA, authorization number UAO/103050/P) for the production of the recombinant human BMP4 (Bone Morphogenetic Protein). This protein has obtained the Orphan Drug designation from EMA
												|(http://www.ema.europa.eu/ema/index.jsp?curl=pages/medicines/human/orphans/2014/11/human_orphan_001433.jsp&mid=WC0b01ac058001d12b) for the treatment of glioma.
												|The Biotech Dept. is also dedicated to bring innovative oncology products into clinic. We are developing a humanized monoclonal antibody anti-HER2 with groundbreaking features over the actual marketed antibodies for the treatment of HER2 expressing tumors.
												|Finally, we have an established production process for the biosimilar eythropoietin alpha.											
									.panel.panel-default
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
											#headingTwo.panel-heading(role='tab')
												h4.panel-title												
													| Equipment
												.plus-minus
										#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
											.panel-body												
												|All the GMP equipment are under constant and registered control through a validated system of probes and alarms (TESTO).
												<br><br>
												b Upstream
												ul
													li n. 2 wave Bioreactors 20/50 (GE Healthcare)
													li n. 1 SIP Bioreactor 30 L (Applikon)
													li n. 3 CO2 incubators (Thermo Fisher and Eppendorf-Si41 with integrated shaker)
													li n. 2 Liquid nitrogen Dewars (Thermo Fisher and MV2000)
													li -80°C, -20°C and +4°C refrigerators
													li Nucleocounter for cell counting												

												b Downstream
												ul
													li Akta Pilot (GE Healthcare)
													li Akta Explorer (GE Healthcare)
													li Sartoflow alpha for TFF
													li Viral Inactivation and Removal
													li Hollow fibers (GE Healthcare) for the concentration of proteins			
													
												b Analysis
												ul
													li HPLC (Waters)
													li UV-Vis spectrophotometer (Perkin Elmer)
													li Capillary Electrophoresis (Beckman & Coulter)
													li Chemidoc (Bio-Rad)
													li ELISA reader (BMG)
													li ELISA plate washer (Tecan)
													li BioLayerInterferometry (BLITZ-Fortebio)
													li Cell-based potency assays
													li Real-Time PCR (Applied Biosystems 7500)
													li Flow Cytometer (EasyCube-Sysmex)																							
									.panel.panel-default
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
											#headingThree.panel-heading(role='tab')
												h4.panel-title					
													|	Projects
												.plus-minus												
										#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
											.panel-body												
												ul
													li Production of recombinant antibodies against ErbB2 for cancer therapy	(funded by Italian Scientific Research Fund FILAS 2008)  
													li 
														| A breast cancer toolbox: HER2 targeted immuno-conjugate as therapeutic and diagnostic tools (https://www.eurostars-eureka.eu/project//id/5995  funded by Eurostars 2010-2014).
													li
														| 3WAYNEPO: Novel Nanoformulations of low sialic recombinant erythropoietin for treatment of Alzheimer’s disease and cerebral ischemia/reperfusion injury. (submitted for the H2020 NMBP-10-2016-2017 Proposal number: 720845-1)													
									.panel.panel-default
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
											#headingFour.panel-heading(role='tab')
												h4.panel-title
													|	Collaborations
												.plus-minus
										#collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
											.panel-body											
												ul
													li Stemgen
													li IBA Gmbh
													li Sigma-Tau
													li IFO-IRE
													li Università di Viterbo
													li Naxospharma
													li Mediapharma																	
									.panel.panel-default
										a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
											#headingFive.panel-heading(role='tab')
												h4.panel-title
													|	Partnership
												.plus-minus													
										#collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
											.panel-body
												|We are open to evaluate possible collaborations with academic institutions on the basis of promising projects in the fields of monoclonal antibodies and recombinant proteins. We can:
												ul
													li develop recombinant CHO cell lines and produce MCB and WCB in GMP ready for the clinical phases;
													li develop upstream and downstream processes;
													li develop and validate analytical methods (chemical and biological).													
												
												|We are committed to work as CMO (Contract Manufacturing Organization) for upstream and downstream processes for the production of monoclonal antibodies and recombinant proteins from CHO cells. Our Quality Unit, Qualified Person and Regulatory Office can assist the management of complex projects in the biopharmaceutical field.		
							#pubblicazioni.tab-pane(role='tabpanel')
								h3 Pubblicazioni
								ul
									li Pubblicazioni
									li Pubblicazioni
									li Pubblicazioni
									li Pubblicazioni
									li Pubblicazioni
								h3 Poster
								ul
									li Poster
									li Poster
									li Poster
									li Poster
									li Poster
								h3 Domande di brevetti
								ul
									li Domande di brevetti
									li Domande di brevetti
									li Domande di brevetti
									li Domande di brevetti
									li Domande di brevetti
							#progetti.tab-pane(role='tabpanel')
								p
									|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat nulla, inventore hic voluptatem distinctio asperiores. Numquam maxime id, voluptate rem quisquam voluptates. Consequuntur quo voluptatem asperiores qui. Aperiam, ducimus.
				include blocks/sidebar
	// Including footer
	include blocks/footer