.news-image {
    width: 100px;
    height: 100px;
}

.slide {
     background-size: cover!important;
}

.form-input-danger {
    color: red!important;
}

.main-header.header-registrazione {
	background: #000;
}