/*
-------------------------
Essentials styles
-------------------------
*/
body {
  font-family: 'Lato';
  color: #666;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

/*
-------------------------
Main essentials
-------------------------
*/
section.content {
  margin: 40px auto; }
  section.content h2 {
    color: #00509a;
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0 5px 0; }
  section.content h3 {
    text-transform: uppercase;
    margin: 5px 0 30px 0;
    font-size: 16px; }
  section.content h4 {
    text-transform: uppercase;
    margin: 5px 0 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #00509a; }
  section.content p {
    text-align: justify;
    font-size: 16px;
    margin: 30px auto; }
  section.content .btn {
    padding: 10px 25px;
    display: inline-block;
    background: #1fa9ad;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
    border: 0;
    font-size: 12px; }

.titles, .sidebar h3, footer .footer-box h4 {
  text-transform: uppercase;
  font-weight: 700; }

.btn.btn-products {
  margin: 20px 0 -10px 0; }

/*
-------------------------
Sidebar styles
-------------------------
*/
.sidebar {
  background: #d9e5fa;
  padding: 10px; }
  .sidebar h3 {
    color: #1fa9ad;
    font-size: 26px !important;
    margin: 40px 0 10px 0; }
  .sidebar .sidebar-actions img {
    margin-bottom: 10px;
    display: block;
    width: 100%; }
  .sidebar .news .single-news {
    margin: 15px 0;
    background: #f2f2f2; }
    .sidebar .news .single-news:last-of-type {
      margin-bottom: 0; }
    .sidebar .news .single-news h4 {
      color: #00509a;
      font-size: 16px;
      font-weight: 700;
      margin: 10px 0 0 0; }
    .sidebar .news .single-news span.date {
      font-size: 12px;
      color: #000;
      font-weight: 700; }
    .sidebar .news .single-news p {
      font-size: 10px;
      text-align: justify;
      padding-right: 5px;
      margin: 0 0 5px 0 !important; }
    .sidebar .news .single-news .read-more-news {
      text-transform: uppercase;
      float: right;
      font-size: 10px;
      font-weight: 700;
      color: #00509a;
      padding-right: 5px; }
  .sidebar.farmacovigilanza-sidebar {
    background: transparent; }
    .sidebar.farmacovigilanza-sidebar h3 {
      border-bottom: 1px dotted #666;
      padding-bottom: 10px;
      margin: 10px 0; }
    .sidebar.farmacovigilanza-sidebar .row.comunicati {
      background: #d9e5fa; }
      .sidebar.farmacovigilanza-sidebar .row.comunicati .comunicato {
        margin: 15px 0;
        padding: 10px;
        background: #f2f2f2; }
        .sidebar.farmacovigilanza-sidebar .row.comunicati .comunicato p {
          font-size: 12px;
          text-align: justify;
          padding-right: 5px;
          color: #00509a;
          font-weight: 700;
          margin: 0 0 5px 0 !important; }
        .sidebar.farmacovigilanza-sidebar .row.comunicati .comunicato a.read-more {
          color: #1fa9ad;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12px; }
    .sidebar.farmacovigilanza-sidebar .row.schede-segnalazione {
      background: #e6f8f8;
      margin-top: 15px; }
      .sidebar.farmacovigilanza-sidebar .row.schede-segnalazione .schede ul {
        padding: 0;
        list-style: none; }
        .sidebar.farmacovigilanza-sidebar .row.schede-segnalazione .schede ul li {
          margin: 10px 0; }
          .sidebar.farmacovigilanza-sidebar .row.schede-segnalazione .schede ul li:first-of-type {
            font-weight: 700; }
  .sidebar.lavora-con-noi-sidebar h3 {
    border-bottom: 1px dotted #666;
    padding-bottom: 10px;
    margin: 10px 0; }

/*
-------------------------
Header styles
-------------------------
*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.top-bar {
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }
  .top-bar p {
    margin: 0; }

nav.navbar {
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  border: 0; }
  nav.navbar span.caret {
    display: block;
    margin: 5px auto;
    border-top: 8px dashed;
    border-top: 8px solid\9;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent; }
  nav.navbar h1.logo {
    text-indent: -9999px;
    margin: 0;
    background: url(../img/ibi-lorenzini-logo.png) no-repeat center center;
    width: 155px;
    height: 91px; }
  nav.navbar .navbar-right {
    margin-top: 25px; }
    nav.navbar .navbar-right li {
      height: 40px;
      border-left: 1px solid #00509a; }
      nav.navbar .navbar-right li a {
        padding: 0 30px 0 10px;
        color: #00509a;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px; }
    nav.navbar .navbar-right .dropdown-menu li {
      border: 0; }

/*
-------------------------
Bootstrap fixes
-------------------------
*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: transparent; }

/*
-------------------------
Footer styles
-------------------------
*/
footer {
  background: #f2f2f2; }
  footer .footer-box {
    border-left: 1px solid #00509a;
    padding: 50px 20px 20px 20px;
    min-height: 323px;
    margin: 0 0 40px 0; }
    footer .footer-box h4 {
      margin: 0 0 20px 0;
      color: #00509a; }
    footer .footer-box p {
      font-size: 12px; }
    footer .footer-box ul {
      padding: 0;
      list-style: none; }
      footer .footer-box ul li {
        margin: 15px 0; }
        footer .footer-box ul li a {
          color: #666; }
  footer .copyright {
    background: #1fa9ad;
    padding: 20px 0; }

/*
-------------------------
Home page
-------------------------
*/
.main-carousel {
  margin: 0; }
  .main-carousel .slide {
    background: url(../img/header-home.jpg) no-repeat center center;
    width: 100%;
    height: 500px;
    background-size: cover; }

/* Hero */
.hero {
  background: url(../img/hero-background.jpg) no-repeat center center;
  width: 100%;
  padding: 60px 0; }
  .hero .hero-box {
    width: 100%;
    background: #fff;
    padding: 0 25px;
    min-height: 381px; }
    .hero .hero-box img {
      margin: auto;
      display: block;
      padding: 25px 0; }
    .hero .hero-box p {
      font-size: 14px;
      padding: 25px 0 0 0;
      text-align: justify;
      border-top: 1px solid #666; }
    .hero .hero-box .btn {
      width: 100%;
      border-radius: 0;
      border: 0;
      font-weight: 700;
      margin: 20px 0;
      padding: 10px 0;
      font-size: 12px;
      text-transform: uppercase;
      background: #1fa9ad; }

/*
-------------------------
Page Headers
-------------------------
*/
.main-header {
  width: 100%;
  height: 270px;
  position: relative; }
  .main-header .main-caption {
    position: absolute;
    bottom: -8px; }
    .main-header .main-caption span {
      font-style: italic;
      text-transform: none; }
    .main-header .main-caption h1 {
      color: #fff;
      font-weight: 300;
      font-size: 60px;
      text-transform: uppercase;
      margin: 0; }
  .main-header.chi-siamo {
    background: url(../img/main-chi-siamo.jpg) no-repeat center center;
    background-size: cover; }
  .main-header.ibi-export {
    background: url(../img/main-chi-siamo.jpg) no-repeat center center;
    background-size: cover; }
  .main-header.ibi-italia {
    background: url(../img/main-chi-siamo.jpg) no-repeat center center;
    background-size: cover; }
  .main-header.ibi-manufacturer {
    background: url(../img/main-chi-siamo.jpg) no-repeat center center;
    background-size: cover; }
  .main-header.ibisqus-ospedale {
    background: url(../img/main-chi-siamo.jpg) no-repeat center center;
    background-size: cover; }
  .main-header.ricerca-innovazione {
    background: url(../img/main-chi-siamo.jpg) no-repeat center center;
    background-size: cover; }
  .main-header.farmacovigilanza {
    background: url(../img/main-chi-siamo.jpg) no-repeat center center;
    background-size: cover; }
  .main-header.contatti {
    background: url(../img/main-chi-siamo.jpg) no-repeat center center;
    background-size: cover; }
  .main-header.lavora-con-noi {
    background: url(../img/main-chi-siamo.jpg) no-repeat center center;
    background-size: cover; }

/*
-------------------------
Tabs
-------------------------
*/
.tabs .tab-content {
  margin-top: 50px; }

.tabs.manufactoring-tabs {
  margin-top: 50px; }

.tabs.ricerca-tabs h3 {
  color: #00509a;
  font-weight: 700;
  margin: 40px 0 20px 0; }

.tabs.ricerca-tabs .tab-content ul {
  padding: 0 0 30px 40px;
  border-bottom: 1px dotted #666; }

/*
-------------------------
Content
-------------------------
*/
section.content.farmacovigilanza-content h4 {
  margin-bottom: 10px; }

section.content.farmacovigilanza-content p {
  margin-top: 0; }
  section.content.farmacovigilanza-content p:first-of-type {
    margin-top: 30px; }

section.content.contatti-content .loghi {
  padding-bottom: 15px;
  border-bottom: 1px dotted #666; }
  section.content.contatti-content .loghi.contatti-ibisqus-logo {
    margin-top: 50px; }

section.content.contatti-content .borded {
  border-bottom: 1px dotted #666; }

section.content.contatti-content #accordion .panel {
  border: 0;
  border-radius: 0; }
  section.content.contatti-content #accordion .panel .panel-title {
    margin: 5px 0; }

/*
-------------------------
Responsive styles
-------------------------
*/

/*# sourceMappingURL=main.css.map */
