/*
-------------------------
Essentials styles
-------------------------
*/

// Colors
$text-color: #666;
$green: #1fa9ad;
$blue-gray: #d9e5fa;
$title-color: #00509a;
$barely-blank: #f2f2f2;
$barely-green: #e6f8f8;
$light-gray: #ededed;
$light-blue: #80a8cd;
$lighter-blue: #f2f6fa;

body {
	font-family: 'Lato';
	color: $text-color;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}

p.policy-reminder {
	font-size: 12px !important;
	margin: 15px 0 !important;
}

/*
-------------------------
MIXITUP
-------------------------
*/
// #prodotti-container .mix{
// 	display: none;
// }
/*
-------------------------
Main essentials
-------------------------
*/
section.content {
	margin: 40px auto;
	h2 {
		color: $title-color;
		font-size: 32px;		
		font-weight: 700;
		margin: 20px 0 5px 0;
	}
	h3 {
		text-transform: uppercase;
		margin: 5px 0 30px 0;
		font-size: 16px;
	}
	h4 {
		text-transform: uppercase;
		margin: 5px 0 30px 0;
		font-size: 16px;
		font-weight: 700;
		color: $title-color;
	}
	p {
		text-align: justify;
		font-size: 16px;
		margin: 30px auto;
		line-height: 22px;
	}
	.btn {
		padding: 10px 25px;
		display: inline-block;
		background: $green;
		font-weight: 700;
		text-transform: uppercase;
		border-radius: 0;
		border: 0;
		font-size: 12px;
	}
}

.plus-minus {
	background: #b3cbe1;
	float: right;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	position: relative;
	margin-top: -4px;
	transition: 0.35s;
	&:before, &:after {
	  position: absolute;
	  left: 15px;
	  top: 6px;
	  content: ' ';
	  height: 22px;
	  width: 4px;
	  background: #fff;
	  border-radius: 3px;
	  transition: 0.35s;
	}
	&:before {
  transform: rotate(90deg);
	}
	&:after {
	  transform: rotate(0deg);
	}
	&.minus {
		&:before {opacity: 0;}
		&:after {transform: rotate(90deg);}
	}	
}

/*
-------------------------
Helpers
-------------------------
*/
a:focus {outline: none;}

.titles {
	text-transform: uppercase;
	font-weight: 700;	
}

.btn.btn-products {
	margin: 20px 0 -10px 0;
}

.borded {			
	border-bottom: 1px dotted $text-color;
}

.no-pad {
	padding: 0;
}

/*
-------------------------
Back to Top
-------------------------
*/

#back-to-top {
    position: fixed;
    bottom: 55px;
    right: 55px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: $green;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: lighten($green, 5%);
}
#back-to-top.show {
    opacity: 1;
}
/*
-------------------------
Magnific-popup
-------------------------
*/

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 400px;
  margin: 20px auto;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*
-------------------------
Area riservata modal
-------------------------
*/

#area-riservata-modal {
	text-align: center;
	padding: 15px 50px;
	background: $barely-green;
	h3 {
		color: $title-color;
		text-transform: uppercase;
		font-size: 16px;
		margin-top: 30px;
	}
	form {
		padding: 20px;
		.fields {
			border-radius: 0;
		}
	}
	.btn {
		padding: 10px 25px;
		display: inline-block;
		background: $green;
		font-weight: 700;
		text-transform: uppercase;
		border-radius: 0;
		border: 0;
		font-size: 12px;
	}
}


