/*
-------------------------
Essentials styles
-------------------------
*/

// Colors
$text-color: #666;
$green: #1fa9ad;
$blue-gray: #d9e5fa;
$title-color: #00509a;
$barely-blank: #f2f2f2;
$barely-green: #e6f8f8;

body {
	font-family: 'Lato';
	color: $text-color;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
}
/*
-------------------------
Main essentials
-------------------------
*/
section.content {
	margin: 40px auto;
	h2 {
		color: $title-color;
		font-size: 32px;		
		font-weight: 700;
		margin: 20px 0 5px 0;
	}
	h3 {
		text-transform: uppercase;
		margin: 5px 0 30px 0;
		font-size: 16px;
	}
	h4 {
		text-transform: uppercase;
		margin: 5px 0 30px 0;
		font-size: 16px;
		font-weight: 700;
		color: $title-color;
	}
	p {
		text-align: justify;
		font-size: 16px;
		margin: 30px auto;
	}
	.btn {
		padding: 10px 25px;
		display: inline-block;
		background: $green;
		font-weight: 700;
		text-transform: uppercase;
		border-radius: 0;
		border: 0;
		font-size: 12px;
	}
}

.titles {
	text-transform: uppercase;
	font-weight: 700;	
}

.btn.btn-products {
	margin: 20px 0 -10px 0;
}