/*
-------------------------
Sidebar styles
-------------------------
*/

.sidebar {
	background: $blue-gray;
	padding: 10px;
	h3 {
		@extend .titles;
		color: $green;
		font-size: 26px !important;
		margin: 40px 0 10px 0;
	}
	.sidebar-actions img {
		margin-bottom: 10px;
		display: block;
		width: 100%;
	}	
	.news {		
		.single-news {
			margin: 15px 0;
			background: $barely-blank;
			&:last-of-type {
				margin-bottom: 0;
			}			
			h4 {
				color: $title-color;
				font-size: 16px;
				font-weight: 700;
				margin: 10px 0 0 0;
			}
			span.date {
				font-size: 12px;
				color: #000;
				font-weight: 700;
			}
			p {
				font-size: 10px;
				text-align: justify;
				padding-right: 5px;
				margin: 0 0 5px 0 !important;
			}
			.read-more-news {
				text-transform: uppercase;
				float: right;
				font-size: 10px;
				font-weight: 700;
				color: $title-color;
				padding-right: 5px;
			}
		}
	}
	&.farmacovigilanza-sidebar {
		background: transparent;
		h3 {
			border-bottom: 1px dotted $text-color;
			padding-bottom: 10px;
			margin: 10px 0;
		}
		.row.comunicati {
			background: $blue-gray;
			.comunicato {
				margin: 15px 0;
				padding: 10px;
				background: $barely-blank;
				p {
					font-size: 12px;
					text-align: justify;
					padding-right: 5px;
					color: $title-color;
					font-weight: 700;
					margin: 0 0 5px 0 !important;
				}
				a.read-more {
					color: $green;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 12px;
				}
			}
		}
		.row.schede-segnalazione {
			background: $barely-green;
			margin-top: 15px;
			.schede {
				ul {
					padding: 0;
					list-style: none;
					li {
						margin: 10px 0;
						&:first-of-type {font-weight: 700;}
					}
				}
			}
		}
	}
	&.lavora-con-noi-sidebar {
		h3 {
			border-bottom: 1px dotted $text-color;
			padding-bottom: 10px;
			margin: 10px 0;
		}
	}
}