/*
-------------------------
Sidebar styles
-------------------------
*/

.sidebar {
	background: $blue-gray;
	padding: 10px;
	.sidebar-actions img {
		margin-bottom: 10px;
		display: block;
		width: 100%;
	}	
	.news {
		h3 {
			@extend .titles;
			color: $green;
		}
		.single-news {
			margin: 15px 0;
			background: $barely-blank;
			&:last-of-type {
				margin-bottom: 0;
			}			
			h4 {
				color: $title-color;
				font-size: 16px;
				font-weight: 700;
				margin: 10px 0 0 0;
			}
			span.date {
				font-size: 12px;
				color: #000;
				font-weight: 700;
			}
			p {
				font-size: 10px;
				text-align: justify;
				padding-right: 5px;
				margin: 0 0 5px 0;
			}
			.read-more-news {
				text-transform: uppercase;
				float: right;
				font-size: 10px;
				font-weight: 700;
				color: $title-color;
				padding-right: 5px;
			}
		}
	}
}