@import 'essentials';
@import 'sidebar';
@import 'header';
@import 'footer';

/*
-------------------------
Home page
-------------------------
*/
.main-carousel {
	margin: 0;
	.slide {
		background: url(../img/header-home.jpg) no-repeat center center;
		width: 100%;
		height: 500px;
		background-size:cover;
	}
}

/* Hero */
.hero {
	background: url(../img/hero-background.jpg) no-repeat center center;
	width: 100%;
	padding: 60px 0;
	.hero-box {
		width: 100%;
		background: #fff;
		padding: 0 25px;
		min-height: 381px;
		img {
			margin: auto;
			display: block;
			padding: 25px 0;
		}
		p {
			font-size: 14px;
			padding: 25px 0 0 0;
			text-align: justify;
			border-top: 1px solid $text-color;
		}
		.btn {
			width: 100%;
			border-radius: 0;
			border: 0;
			font-weight: 700;
			margin: 20px 0;
			padding: 10px 0;	
			font-size: 12px;
			text-transform: uppercase;
			background: $green;
		}
	}
}

/*
-------------------------
Page Headers
-------------------------
*/
.main-header {	
	width: 100%;
	height: 270px;
	position: relative;
	.main-caption {
		position: absolute;
		bottom: -8px;
		span {
			font-style: italic;
			text-transform: none;
		}
		h1 {
			color: #fff;
			font-weight: 300;
			font-size: 60px;
			text-transform: uppercase;
			margin: 0;
		}
	}
	&.chi-siamo {
		background: url(../img/main-chi-siamo.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.ibi-export {
		background: url(../img/main-chi-siamo.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.ibi-italia {
		background: url(../img/main-chi-siamo.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.ibi-manufacturer {
		background: url(../img/main-chi-siamo.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.ibisqus-ospedale {
		background: url(../img/main-chi-siamo.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.ricerca-innovazione {
		background: url(../img/main-chi-siamo.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.farmacovigilanza {
		background: url(../img/main-chi-siamo.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.contatti {
		background: url(../img/main-chi-siamo.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.lavora-con-noi {
		background: url(../img/main-chi-siamo.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.prodotti {
		background: url(../img/main-chi-siamo.jpg) no-repeat center center;		
		background-size: cover;		
	}
}
/*
-------------------------
Tabs
-------------------------
*/
.tabs {
	.tab-content {margin-top: 50px;}
	// manufactioring tabs
	&.manufactoring-tabs {
		margin-top: 50px;
	}
	// Ricerca tabs
	&.ricerca-tabs {
		h3 {
			color: $title-color;
			font-weight: 700;
			margin: 40px 0 20px 0;
		}
		.tab-content {
			ul {
				padding: 0 0 30px 40px;
				border-bottom: 1px dotted $text-color;
			}
		}		
	}	
}

/*
-------------------------
Content
-------------------------
*/
section.content {
	&.farmacovigilanza-content {
		h4 {margin-bottom: 10px;}
		p {
			margin-top: 0;
			&:first-of-type {margin-top: 30px;}
		}
	}
	&.contatti-content {
		.loghi {
			padding-bottom: 15px;
			border-bottom: 1px dotted $text-color;
			&.contatti-ibisqus-logo {margin-top: 50px;}
		}		
		#accordion {
			.panel {
				border: 0;
				border-radius: 0;
				.panel-title {margin: 5px 0;}
			}
		}
	}
	&.lavora-con-noi-content {
		.lavori-box {
			background: $title-color;
			padding: 25px;			
			ul {
				list-style: none;
				padding: 0;
				margin: 0;				
				li {
					color: #fff;
					font-size: 18px;
				}
			}			
		}
		p.borded, img.borded {padding-bottom: 25px;}
		h4 {
			font-weight: 300;
			text-transform: none;
			font-size: 26px;
		}
	}
}

/*
-------------------------
Products
-------------------------
*/
section.products-content {
	.filter {
		display: inline-block;		
		margin: auto;
		width: 100%;
		cursor: pointer;
		img {
			margin: auto;
		}
	}
	.product {
		width: 100%;
		h2 {
			padding: 15px;
			font-size: 16px;
			background: $light-blue;
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 0;
		}
		h5 {
			margin: 0;
			font-weight: 700;
		}
		ul {
			padding: 0;
			list-style: none;
			li:nth-child(5), li:nth-child(6) {
				text-transform: uppercase;
			}
			li {
				padding: 15px;
				border-bottom: 1px solid $light-gray; 
				&:last-of-type {
					h5 {text-transform: uppercase; display: inline-block;}
					a.read-more {text-transform: uppercase; float: right;}
				}
				&:first-of-type {
					background: $lighter-blue;
				}
				&.more {
					display: none;
					h5 {display: inline-block;}					
				}				
			}
		}
	}
}

@import 'responsive';