@import 'essentials';
@import 'sidebar';
@import 'header';
@import 'footer';

/*
-------------------------
Home page
-------------------------
*/
.main-carousel {
	margin: 0;
	.slide {		
		width: 100%;
		height: 500px;
		&.slide1 {
			background: url(../img/header-home.jpg) no-repeat center center;
			background-size: cover;
		}
		&.slide2 {
			background: url(../img/slide02.jpg) no-repeat center center;
			background-size: cover;
		}
		.caption-container {
			height: 100%;
			position: relative;
			.caption {
				display: inline-block;
				padding: 20px;
				background: $green;
				position: absolute;
				bottom: 30px;
				h3 {
					color: #fff;
					font-size: 30px;
					font-weight: 700;
					margin-top: 0;
				}
				span {
					color: #fff;
					font-size: 20px;
				}
			}
		}
	}
}

/* Hero */
.hero {
	background: url(../img/hero-background.jpg) no-repeat center center;
	width: 100%;
	padding: 60px 0;
	background-size: cover;
	.hero-box {
		width: 100%;
		background: #fff;
		padding: 0 25px;
		min-height: 381px;
		position: relative;
		img {
			margin: auto;
			display: block;
			padding: 25px 0;
		}
		p {
			font-size: 14px;
			padding: 25px 0 0 0;
			text-align: justify;
			border-top: 1px solid $text-color;
		}
		.btn {
			position: absolute;
			bottom: 0px;
			width: 85%;
			left: 0;
			border-radius: 0;
			border: 0;
			font-weight: 700;
			margin: 20px;
			padding: 10px 0;	
			font-size: 12px;
			text-transform: uppercase;
			background: $green;
		}
	}
}

/*
-------------------------
Page Headers
-------------------------
*/
.main-header {	
	width: 100%;
	height: 270px;
	position: relative;
	.main-caption {
		position: absolute;
		bottom: -8px;
		span {
			font-style: italic;
			text-transform: none;
		}
		h1 {
			color: #fff;
			font-weight: 300;
			font-size: 60px;
			text-transform: uppercase;
			margin: 0;
			// text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
		}
	}
	&.chi-siamo {
		background: url(../img/chi-siamo-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.ibi-export {
		background: url(../img/chi-siamo-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.ibi-italia {
		background: url(../img/chi-siamo-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.ibi-manufacturer {
		background: url(../img/toll-development-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.ibisqus-ospedale {
		background: url(../img/chi-siamo-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.ricerca-innovazione {
		background: url(../img/toll-development-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.farmacovigilanza {
		background: url(../img/farmacovigilanza-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.contatti {
		background: url(../img/contatti-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.lavora-con-noi {
		background: url(../img/contatti-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.prodotti {
		background: url(../img/prodotti-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.privacy-policy {
		background: url(../img/chi-siamo-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.benessere-paziente {
		background: url(../img/chi-siamo-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.reparti {
		background: url(../img/chi-siamo-header.jpg) no-repeat center center;		
		background-size: cover;		
	}	
	&.registrazione-area-riservata {
		background: url(../img/chi-siamo-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
	&.archivio-news-header {
		background: url(../img/chi-siamo-header.jpg) no-repeat center center;		
		background-size: cover;		
	}
}
/*
-------------------------
Tabs
-------------------------
*/
.tabs {
	.tab-content {margin-top: 50px; b {display: block;}}
	.nav-tabs {
		border: 0;
		border-bottom: 2px solid $title-color;
		text-align: center;
		li {
			margin-bottom: 5px;
			&:first-of-type a {border-left: 1px solid $text-color;}
			&.active:first-of-type a {border-left: 1px solid $text-color;}
			a {
				border: 0;				
				border-right: 1px solid $text-color;
				border-radius: 0;
				font-style: italic;
				font-size: 17px;
				&:hover {
					background: transparent;
				}			
			}
			&.active {
				&:after {
						position: absolute;
						content: '';
						bottom: -5px;
						left: 50%;
						transform: translate(-50%, 0%);
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 25px 10px 25px;
						border-color: transparent transparent $title-color transparent;
					}
				a {
					color: $title-color;
					font-weight: 700;
					border-left: 0;
					&:hover {border-top: 0; border-bottom: 0; border-right-color: $text-color; }
					&:focus {border-top: 0; border-bottom: 0; border-right-color: $text-color; }
				}
			}
		}
	}
	&.chi-siamo-tabs {
		.nav-tabs {
			li {
				a {
					font-size: 14px;
					padding: 10px 11px;
				}
			}
		}
		h4 {
			font-size: 22px;			
		}
		h5 {
			font-size: 20px;
			font-weight: 700;
			font-style: italic;
		}
		.evidence-box {
			padding: 20px;
			margin-bottom: 40px;
			background: $barely-green;
			h4 {
				text-transform: none;
				font-size: 30px;
				margin: 0px auto 10px auto;
			}
			p {margin: 0;}
		}
	}
	// export tabs
	&.ibi-export-tabs {
		margin-top: 50px;
		h2:last-of-type {margin-top: 40px;}
		ul {
			li {
				width: 50%;
				text-align: center;
				height: 85px;
			}
		}
		.license-box {			
			border-bottom: 1px dashed $green;
			float: left;
			width: 100%;
			padding: 15px 0;
			span {color: $green; font-weight: 700;}
			p {margin: 0;}
		}
	}
	// manufactioring tabs
	&.manufactoring-tabs {
		margin-top: 50px;
		ul {
			li {
				width: 50%;
				text-align: center;
			}
		}
	}
	// Ricerca tabs
	&.ricerca-tabs {
		h3 {
			color: $title-color;
			font-weight: 700;
			margin: 40px 0 20px 0;
		}
		.nav-tabs {
			li {width: 25%;}
		}
		.tab-content {
			ul {
				padding: 0 0 30px 40px;
				border-bottom: 1px dotted $text-color;
			}
		}
		#innovativi {
			ul {
				border: 0;
				margin-bottom: 0px;
				padding-bottom: 10px;
			}
			.divider {margin-bottom: 25px;}
		}
	}
	// Benessere tabs
	&.benessere-paziente-tabs {		
		margin-top: 50px;
		ul {
			li {
				width: 50%;
				text-align: center;
			}
		}
	}	
}

/*
-------------------------
Content
-------------------------
*/
section.content {
	&.farmacovigilanza-content {
		h4 {margin-bottom: 10px;}
		p {
			margin-top: 0;
			&:first-of-type {margin-top: 30px;}
		}
	}
	&.contatti-content {
		.loghi {
			padding-bottom: 15px;
			margin: 0 15px;
			border-bottom: 1px dotted $text-color;
			&.contatti-ibisqus-logo {margin-top: 50px;}
		}
		a {
			color: $title-color;
			&:hover {text-decoration: underline;}
		}		
		#accordion {						
			.panel {
				border: 0;
				border-radius: 0;
				border-bottom: 1px dotted #000;
				margin-top: 0;
				.caret {
					float: right;		    
					margin-top: 10px;
			    border-top: 10px dashed $text-color;
			    border-top: 10px solid\9;
			    border-right: 10px solid transparent;
			    border-left: 10px solid transparent;
			    transform: rotate(-90deg);
			    &.caret-rotate {
			    	transform: rotate(0deg);
			    }			    
				}	
				.panel-title {margin: 5px 0;}
				.panel-heading {
					background: transparent;
					h4 {						
						color: $title-color;						
						font-weight: 700;
						display: inline-block;
					}
				}
				.panel-body {border: 0;}
			}
		}
	}
	&.ricerca-content {
		ul {font-size: 16px;}
		#biotecnologie {
			h4 {
				margin: 25px auto 10px auto;
			}
		}
		.no-border {border: 0; padding-bottom: 10px;}
	}
	&.benessere-content {
		#accordion {
			a:hover, a:focus {text-decoration: none;}
			.panel-group .panel+.panel {margin-top: 0 !important;}
			.panel {
				border: 0;
				border-radius: 0;
				border: 1px dotted $green;				
				.panel-title {margin: 5px 0;}
				.panel-heading {
					background: transparent;
					padding: 15px;
					h4 {						
						color: $text-color;
						font-weight: 300;
						display: inline-block;
					}
				}
				.panel-body {border: 0;}
			}
		}
	}
	&.lavora-con-noi-content {
		.lavori-box {
			background: $title-color;
			padding: 25px;			
			ul {
				list-style: none;
				padding: 0;
				margin: 0;				
				li {
					color: #fff;
					font-size: 18px;
				}
			}			
		}
		label {
			margin-top: 10px;
		}
		h3.form-title {
			background: $light-blue;
			color: #fff;
			padding: 5px 5px 8px 5px;
			margin: 25px 0 10px 0;
		}
		p.borded, img.borded {padding-bottom: 25px;}
		h4 {
			font-weight: 300;
			text-transform: none;
			font-size: 26px;
		}
		.btn.btn-primary {
			width: 100%;
		}
		.fields {
			border-radius: 0;
		}
	}	
	&.registrazione-area-riservata-content {
		legend {
			color: #fff;
			background: $light-blue;
			border: 0;
			padding: 3px 10px;
			text-transform: uppercase;
			font-size: 18px;			
		}
		fieldset {
			margin: 15px 0 5px 0;
		}
	}
	&.archivio-news-content {
			h2 {
				margin: 20px 0 40px 0;
			}
		.archivio-news {
			margin: 15px 0;
			h4 {
				margin: 10px 0 0 0;
			}
			p {
				margin: 0;
			}
			a {
				float: right;
				text-align: right;
			}
			span.date {
				font-size: 12px;
    		color: #000;
    		font-weight: 700;
			}
		}
	}
	&.segnalazione-farmacovigilanza-content {
		label {
			margin: 10px 0 5px 0;
		}
		input, textarea {
			border-radius: 0;
		}		
	}
}



/*
-------------------------
Products
-------------------------
*/
section.products-content {
	.filtri {
		display: inline-block;		
		margin: auto;
		width: 100%;		
		margin: 0;
		border-bottom: 2px solid $title-color;
		.filtri-img {
			border-right: 1px solid $text-color;
			height: 80px;
			margin-bottom: 20px;
			&.active {
				position: relative;
				&:after {
					position: absolute;
					bottom: -28px;
					left: 50%;
					transform: translate(-50%, -50%);
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 45px 15px 45px;
					border-color: transparent transparent $title-color transparent;
				}
			}
		}
		img {
			margin: auto;
		}		
	}
	.intro {
		p {
			margin: 15px 0 0 0;
			border-bottom: 2px solid $title-color;
			padding-bottom: 20px;
		}
	}
	#prodotti-container {		
		.product {
			width: 100%;
			margin-bottom: 35px;
			.formulazione {
					.plus-minus {				
						width: 25px;
						height: 25px;						
						cursor: pointer;
						background: #b3cbe1;						
						&:before, &:after {				  
						  left: 11px;
						  top: 4px;				 
						  height: 18px;
						  width: 3px;				  
						}				
					}
				}
			.product-title {
				background: $light-blue;
				h2 {
					padding: 15px;
					font-size: 16px;				
					text-transform: uppercase;
					color: #fff;
					margin: 0;
					display: inline-block;
				}				
				.plus-minus {				
					width: 25px;
					height: 25px;
					margin-top: 10px;
					cursor: pointer;				
					margin-right: 8px;
					background: transparent;		
					&:before, &:after {				  
					  left: 11px;
					  top: 4px;				 
					  height: 18px;
					  width: 3px;				  
					}				
				}				
			}
						
			ul {
				padding: 0;
				list-style: none;
				&.product-content {display: none;}				
				li {
					padding: 15px;
					border-bottom: 1px solid $light-gray;
					h5 {
						margin: 0;
						font-weight: 700;
						display: inline-block;
					}
					i {
						float: right;
						font-size: 18px;
					}										
				}
			}
		}

		&.prodotti-italia {
			.product {
					.formulazione {																						
						.formulazione-title {
							display: none;
							h5 {font-weight: 700; margin: 0;}
							background: $lighter-blue;
							padding: 15px;
						}
						.formulazione-content {
							display: none;
							background: #fff;
							padding: 0 15px;
							li {
								padding: 15px 0;
							}
						}
					}					
			}	
		}

		&.prodotti-export {
			.product {
				
			}
		}
		&.prodotti-ibisqus {
			.formulazione {
				background: $lighter-blue;
				padding: 15px;
				h5 {font-weight: 700; margin: 0;}
			}
			.product-content {
				li:first-of-type {background: #fff;}
			}
		}
	}	
}

@import 'responsive';