.login-navigation li a {
    color: #fff
}

.profile-menu > a {
    background: url(/img/ibi-lorenzini-logo.png) no-repeat center center;
}

/*AUTH LOGIN STYLES*/

body.login-content:before {
	background: #00509a;
}

/*SIDEBAR ADMIN STYLES*/

#header {
	background: #00509a;
}

.profile-menu > .profile-info {
	background: rgba(0,0,0,0.37);
  padding: 7px 14px;
  color: #fff;  
  position: relative;
}

