footer
	.container
		.row.footer#contatti
			.col-xs-12
				h3 Contatti
		.row.footer
			.col-md-3.col-sm-6
				.info.footer-box
					h4 La Girouette
					ul
						li
							i.fa.fa-map-marker
							| Roma
						li
							i.fa.fa-envelope
							a(href="mailto:info@lagirouette.it")
								| info@lagirouette.it
						li
							i.fa.fa-mobile
							| +39 393 3378035
						li
							i.fa.fa-mobile
							| +39 335 6477877
			.col-md-6.col-sm-6
				.write.footer-box
					h4 Scrivici
			.col-md-3.col-sm-6
				.social.footer-box
					h4 Social
					p
						| Resta in contatto con noi!
					.social
						a(href="https://www.facebook.com/La-Girouette-1430927090500419/?ref=ts", target="_blank")
							.facebook
						a(href="")
							.instagram
	.container-fluid
		.row.partners#partners
			div
				img(src="http://placehold.it/200x50")
			div
				img(src="http://placehold.it/200x50")
			div
				img(src="http://placehold.it/200x50")
			div
				img(src="http://placehold.it/200x50")
			div
				img(src="http://placehold.it/200x50")
			div
				img(src="http://placehold.it/200x50")
		.row.copyright
			.col-sm-6
				p 
					| La Girouette © 2015 - Tutti i diritti riservati
			.col-sm-6
				p.pull-right
					| Design by 
					a(href="http://officine06.com", target="_blank")
						| Officine06
#rendez-popup.white-popup.mfp-hide
	img(src="img/rendez-logo.jpg")
	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		|	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		|	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		|	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		|	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		|	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.






