footer
	.container
		.row
			.col-sm-3
				.footer-box
					h4 
						|About 
						i Ibi
					p
						|Istituto Biochimico Italiano<br>
						|Giovanni Lorenzini S.p.A. <br>
						|Via Fossignano, 2 <br>
						|04011 Aprilia (LT)<br>
						|Italia
						<br><br>
						|Centralino: +39.06.92150.1<br>
						|Fax: +39.06.92150.500<br>
						|e-mail: info@ibi-lorenzini.com<br>
						|P.IVA 02578030153
			.col-sm-3
				.footer-box
					h4 Worldwide
					p
						|Export Department<br>
						|export@ibi-lorenzini.com<br>
						|Fax: +39.06.92150.598
						<br><br>
						|Ricezione ordini<br>
						|purchase@ibi-lorenzini.com<br>
						|Fax: +39.06.92150.401
						<br><br>
						|Informazioni medico scientifiche<br>
						|servizioscientifico@ibi-lorenzini.com<br>
						|Fax: +39.06.92150.573
			.col-sm-3
				.footer-box
					h4 Stay connected
					p
						|Contract Manufacturing Services<br>
						|cms@ibi-lorenzini.com
						<br><br>
						|Pharmaceutical Development Services<br>
						|pds@ibi-lorenzini.com
						<br><br>
						|Dipartimento di Farmacovigilanza IBIGEN e IBI<br>
						|Tel: +39.06.92150.395<br>
						|Fax: +39.06.92150.573<br>
						|pharmacovigilance@ibi-lorenzini.com<br>
						|pharmacovigilance@ibigen.it
			.col-sm-3
				.footer-box
					h4 Info
					ul
						li 
							a(href="farmaco-vigilanza") Farmacovigilanza
						li
							a(href="#") Privacy Policy
						li
							a(href="contatti") Contatti
						li
							a(href="#") Area Riservata
	.copyright
		.container
						

					

					

					