header
	.top-bar
		.container
			.row
				.col-sm-6
					i.fa.fa-facebook-square
					i.fa.fa-google-plus-square
					i.fa.fa-twitter-square
					i.fa.fa-envelope
				.col-sm-6
					div.pull-right
						a(href="#").area-riservata
							| Area riservata
						p.lang
							a(href="#") Ita |
							a(href="#")  Eng
	nav.navbar.navbar-default
		.container
			// Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href='/index')
					h1.logo
						| Ibi Lorenzini
			// Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse			
				ul.nav.navbar-nav.navbar-right
					li
						a(href='chi-siamo') Chi siamo
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| Prodotti 
							span.caret
						ul.dropdown-menu
							li
								a(href='prodotti-export')
									span Ibi 
									|Export
							li
								a(href='prodotti-ibisqus')
									span Ibis
										i q
										|us 
									|Ospedale
							li
								a(href='prodotti-italia')
									span Ibi 
									|Italia
					li
						a(href='ibi-toll-manufacturer') Toll development<br> manufacturer
					li
						a(href='ricerca-innovazione') Ricerca e<br> innovazione
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| Contatti 
							span.caret
						ul.dropdown-menu
							li
								a(href='contatti') Informazioni
							li
								a(href='lavora-con-noi') Lavora con noi						
			// /.navbar-collapse
		// /.container-fluid