.col-md-3
	.sidebar.products-sidebar
		.btn.btn-primary Scarica il listino in pdf
		.filter-content
			h3 Filtri
			.filter-block
				span Nazione
				select(name='cars')
					option(value='volvo') Volvo
					option(value='saab') Saab
					option(value='fiat') Fiat
					option(value='audi') Audi
			.filter-block
				span Nazione
				select(name='cars')
					option(value='volvo') Volvo
					option(value='saab') Saab
					option(value='fiat') Fiat
					option(value='audi') Audi
			.filter-block
				span Nazione
				select(name='cars')
					option(value='volvo') Volvo
					option(value='saab') Saab
					option(value='fiat') Fiat
					option(value='audi') Audi
			.filter-block
				span Nazione
				select(name='cars')
					option(value='volvo') Volvo
					option(value='saab') Saab
					option(value='fiat') Fiat
					option(value='audi') Audi
			.filter-block
				span Nazione
				select(name='cars')
					option(value='volvo') Volvo
					option(value='saab') Saab
					option(value='fiat') Fiat
					option(value='audi') Audi
			.btn.btn-pirmary Filtra
