.col-md-4
	.sidebar.lavora-con-noi-sidebar
		.row.positions
			.col-xs-12
				h3 Posizioni aperte
			.col-xs-12
				.position
					h5 Human resources specialist	(rif. HRS)
					span Sede: Heppenheim (LT) - GERMANY
					p
						|Piccola descrizione riguardo la figura ricercata per questa posizione, con i principali requisiti richiesti ed eventualmente alcune delle mansioni di cui si dovrà occupare.
					a(href="invia-candidatura").read-more Invia candidatura
				.position
					h5 Human resources specialist	(rif. HRS)
					span Sede: Heppenheim (LT) - GERMANY
					p
						|Piccola descrizione riguardo la figura ricercata per questa posizione, con i principali requisiti richiesti ed eventualmente alcune delle mansioni di cui si dovrà occupare.
					a(href="invia-candidatura").read-more Invia candidatura
				.position
					h5 Human resources specialist	(rif. HRS)
					span Sede: Heppenheim (LT) - GERMANY
					p
						|Piccola descrizione riguardo la figura ricercata per questa posizione, con i principali requisiti richiesti ed eventualmente alcune delle mansioni di cui si dovrà occupare.
					a(href="invia-candidatura").read-more Invia candidatura
				.position
					h5 Human resources specialist	(rif. HRS)
					span Sede: Heppenheim (LT) - GERMANY
					p
						|Piccola descrizione riguardo la figura ricercata per questa posizione, con i principali requisiti richiesti ed eventualmente alcune delle mansioni di cui si dovrà occupare.
					a(href="invia-candidatura").read-more Invia candidatura