.col-md-4
	.sidebar.farmacovigilanza-sidebar
		.row.comunicati
			.col-xs-12
				h3 Comunicati
			.col-xs-12
				.comunicato
					p
						|Nota Informativa Importante sui medicinali contenenti Ketoprofene (05/02/2015)
					a.read-more Leggi tutto
				.comunicato
					p
						|Nota Informativa Importante sui medicinali contenenti Ketoprofene (05/02/2015)
					a.read-more Leggi tutto
				.comunicato
					p
						|Nota Informativa Importante sui medicinali contenenti Ketoprofene (05/02/2015)
					a.read-more Leggi tutto
		.row.schede-segnalazione
			.col-xs-12
				h3  Schede di segnalazione
			.col-xs-12.schede
				ul
					li
						|Schede per la segnalazione 
						|di sospetta reazione avversa:
					li
						| Modulo segnalazione operatore sanitario e paziente  (ITALIANO)
					li
						| Modulo segnalazione operatore sanitario e paziente  (TEDESCO)
					li
						| Modulo segnalazione operatore sanitario e paziente  (CECO)
					li
						| Modulo segnalazione operatore sanitario e paziente  (AUSTRIACO)							