.col-md-4
	.sidebar
		.row.sidebar-hero
			.col-xs-12
				a(href="ricerca-innovazione#biotecnologie")
					.biotecnologia-sidebar
						h3 Biotecnologie
			.col-xs-12
				a(href="farmaco-vigilanza")
					.farmacovigilanza-sidebar
						h3 Farmacovigilanza
		.row.news
			.col-xs-12
				h3  Ultime News
			.col-xs-12
				.single-news
					.media
						.media-left
							a(href='#')
								img.media-object(src='http://placehold.it/100x100', alt='...')
						.media-body
							h4 Media heading
							span.date 12/07/2015
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque alias, quo..Doloremque alias, quo..
							a(href="#").read-more.read-more-news
								| Leggi tutto >
				.single-news
					.media
						.media-left
							a(href='#')
								img.media-object(src='http://placehold.it/100x100', alt='...')
						.media-body
							h4 Media heading
							span.date 12/07/2015
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque alias, quo..Doloremque alias, quo..
							a(href="#").read-more.read-more-news
								| Leggi tutto >
				.single-news
					.media
						.media-left
							a(href='#')
								img.media-object(src='http://placehold.it/100x100', alt='...')
						.media-body
							h4 Media heading
							span.date 12/07/2015
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque alias, quo..Doloremque alias, quo..
							a(href="#").read-more.read-more-news
								| Leggi tutto >